<div class="form-vertical wrapper">
    <form ng-submit="submit()" ng-controller="InformationCtrl" name="informationForm" novalidate>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Information</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <label class="form-question">
                                Who will be able to get information about the children, like doctor's records and school reports, directly from the doctor's office or school?</label>
                            <label class="radio">
                                Mother
                                <input required ng-model="information.InformationAccess" name="InformationAccess" type="radio" value="2"></label>
                            <label class="radio">
                                Father
                                <input required ng-model="information.InformationAccess" name="InformationAccess" type="radio" value="1"></label>
                            <label class="radio">
                                Both
                                <input required ng-model="information.InformationAccess" name="InformationAccess" type="radio" value="3"></label>
                            <div ng-show="informationForm.InformationAccess.$dirty && informationForm.InformationAccess.$invalid || (showErrors && informationForm.InformationAccess.$invalid)">
                                <span class="form-error" ng-show="informationForm.InformationAccess.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="control-group" ng-show="information.InformationAccess == 1 || information.InformationAccess == 2">
                            <label class="form-question">
                               How should access to the rights of information for either parent be restricted?</label>
                            <textarea class="input-xxlarge" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="information.AccessOfRightsDetails" name="AccessOfRightsDetails" placeholder="Explain Here" rows="2"></textarea>
                            <div ng-show="informationForm.AccessOfRightsDetails.$dirty && informationForm.AccessOfRightsDetails.$invalid  || (showErrors && informationForm.AccessOfRightsDetails.$invalid)">
                                <span class="form-error" ng-show="informationForm.AccessOfRightsDetails.$error.pattern">This field may only contain numbers, letters and dashes.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
