<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <form ng-submit="submit()" ng-controller="HealthInsuranceCtrl" id="healthInsuranceForm" name="healthInsuranceForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Health Insurance Information</h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group row">
                            <label class="form-question col-xs-12">
                                Will the parents be solely responsible for providing their own individual health insurance following the divorce?</label>
                            <div class="col-lg-12">
                                <div class="radio">
                                    <label>
                                        Yes
                                <input required ng-model="healthInsurance.Health" name="Health" type="radio" value="1"></label>
                                </div>
                                <div class="radio">
                                    <label>
                                        No
                                <input required ng-model="healthInsurance.Health" name="Health" type="radio" value="2"></label>
                                </div>
                                <div ng-show="healthInsuranceForm.Health.$dirty && healthInsuranceForm.Health.$invalid || (showErrors && healthInsuranceForm.Health.$invalid)">
                                    <span class="form-error" ng-show="healthInsuranceForm.Health.$error.required">This field is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-show="healthInsurance.Health == 2">
                            <label class="form-question col-xs-12">
                                How will health insurance be funded?</label>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="healthInsurance.HealthDescription" name="HealthDescription" placeholder="Details" rows="2"></textarea>
                            </div>
                            <div ng-show="healthInsuranceForm.HealthDescription.$dirty && healthInsuranceForm.HealthDescription.$invalid || (showErrors && healthInsuranceForm.HealthDescription.$invalid)">
                                <span class="form-error" ng-show="healthInsuranceForm.HealthDescription.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <button class="btn btn-default btn-primary btn-continue" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
