<script id="friendly-login-template" type="text/x-jquery-tmpl">
    <div id="nav-menu" class="nav btn-group">
        <% if(IsAuthenticated) {%>
         <a class="btn btn-mini btn-inverse" title="" href="/"><i class="icon icon-home"></i><span class="text">Home</span></a>
        <a class="btn btn-mini btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-user icon"></span>{{DisplayName}}</a>
        <ul class="dropdown-menu">
            <li><a title="Log off" id="logOff" href="#logOff">Logout</a></li>
        </ul>
        <% } else {%>
        <a class="btn btn-mini btn-inverse" title="" href="/Account/LogOn/"><i class="icon icon-off"></i><span class="text">Log in</span></a>
        <% } %>
    </div>
</script>
