<ul class="nav btn-group">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="btn btn-mini btn-inverse"><a title="" href="@Url.Action("Index", "Home")"><i class="icon icon-home"></i><span class="text">Home</span></a></li>
        <li class="btn btn-mini btn-inverse"><a title="" href="@Url.Action("LogOff", "Account")"><i class="icon icon-share-alt"></i><span class="text">Logout</span></a></li>        
    }else
    {
        <li class="btn btn-mini btn-inverse"><a title="" href="@Url.Action("LogOn", "Account")"><i class="icon icon-off"></i><span class="text">Log in</span></a></li>                
    }
</ul>
