<script id="friendly-login-template" type="text/x-jquery-tmpl">
    <ul class="nav btn-group">
        <% if(IsAuthenticated) {%>
        <li class="btn btn-mini btn-inverse"><a title="" href="/"><i class="icon icon-off"></i><span class="text">Log in</span></a></li>                
        <li class="btn btn-mini btn-inverse"><a title="Log off" id="logOff" href="#logOff"><i class="icon icon-share-alt"></i><span class="text">Logout</span></a></li>        
        <% } else {%>
        <li class="btn btn-mini btn-inverse"><a title="" href="/Account/LogOn/"><i class="icon icon-off"></i><span class="text">Log in</span></a></li>                
        <% } %>
    </ul> 
</script>