<script id="friendly-message-template" type="text/x-jquery-tmpl">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert ${AlertType}">
                <a class="close">×</a>
                <strong>${Title}</strong> {{html Message}}
            </div>
        </div>
    </div>
</script>