@model FriendlyForms.Models.AllFormsViewModel
@{
    ViewBag.Title = "No Access";
}
@section Sidebar{
        <a href="@Url.Action("Index","Home")" class="visible-phone"><i class="icon icon-home"></i>Home</a>
        <ul>
            <li><a href="@Url.Action("Index","Home")"><i class="icon icon-home"></i><span>Home</span></a></li>
        </ul>
}
<p>You are not authorized to view this page</p>