<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <form ng-submit="submit()" ng-controller="AddendumCtrl" id="addendumForm" name="addendumForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="glyphicon-signal"></i></span>
                        <h5>Special Considerations</h5>
                    </div>
                    <div class="widget-content">
                        <div class="input-group">
                            <label class="form-question">
                                Are there any special circumstances which the Court should be made aware of?</label>
                            <label class="radio">
                                Yes
                                <input class="form-control" required ng-model="addendum.HasAddendum" name="HasAddendum" type="radio" value="1"></label>
                            <label class="radio">
                                No
                                <input class="form-control" required ng-model="addendum.HasAddendum" name="HasAddendum" type="radio" value="2"></label>
                            <div ng-show="addendumForm.HasAddendum.$dirty && addendumForm.HasAddendum.$invalid || (showErrors && addendumForm.HasAddendum.$invalid)">
                                <span class="form-error" ng-show="addendumForm.HasAddendum.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="input-group" ng-show="addendum.HasAddendum == 1">
                            <textarea class="input-xxlarge" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="addendum.AddendumDetails" name="AddendumDetails" placeholder="Details" rows="2"></textarea>
                            <div ng-show="addendumForm.AddendumDetails.$dirty && addendumForm.AddendumDetails.$invalid || (showErrors && addendumForm.HasAddendum.$invalid)">
                                <span class="form-error" ng-show="addendumForm.AddendumDetails.$error.pattern">This field may only contain numbers, letters and dashes.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-default btn-default btn-primary" value="Continue">Continue <i class="glyphicon-arrow-right icon-white"></i></button>
    </form>
</div>
