/*--------test------*/
body {
  background-color: #ffffff;
}
#header {
  box-shadow: 0 1px 0 #415466;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b6176), to(#243a4f));
  background-image: -webkit-linear-gradient(top, #4b6176, 0%, #243a4f, 100%);
  background-image: -moz-linear-gradient(top, #4b6176 0%, #243a4f 100%);
  background-image: linear-gradient(to bottom, #4b6176 0%, #243a4f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b6176', endColorstr='#ff243a4f', GradientType=0);
  border-bottom: 1px solid #556e86;
}
#user-nav .btn-inverse {
  background-color: #4b6176;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b6176), to(#4b6176));
  background-image: -webkit-linear-gradient(top, #4b6176, 0%, #4b6176, 100%);
  background-image: -moz-linear-gradient(top, #4b6176 0%, #4b6176 100%);
  background-image: linear-gradient(to bottom, #4b6176 0%, #4b6176 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b6176', endColorstr='#ff4b6176', GradientType=0);
  border-top-color: #4b6176;
}
#sidebar > ul {
  border-top: 1px solid #4b6176;
  border-bottom: 1px solid #4b6176;
}
#sidebar > ul > li {
  border-top: 1px solid #4b6176;
  border-bottom: 1px solid #4b6176;
}
#sidebar > ul > li.active {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b6176), to(#4b6176));
  background-image: -webkit-linear-gradient(top, #4b6176, 0%, #4b6176, 100%);
  background-image: -moz-linear-gradient(top, #4b6176 0%, #4b6176 100%);
  background-image: linear-gradient(to bottom, #4b6176 0%, #4b6176 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b6176', endColorstr='#ff4b6176', GradientType=0);
}
#sidebar > ul > li.open.submenu > a {
  border-bottom: 1px solid #4b6176;
}
#sidebar > ul > li.open.active.submenu > a {
  border-bottom: 1px solid #4b6176;
}
#sidebar > ul > li > a > .label {
  background-color: #4b6176;
}
#sidebar > ul > li > a:hover {
  background-color: #4b6176;
}
#sidebar > ul ul {
  border-top: 1px solid #4b6176;
  background-color: #4b6176;
}
#sidebar > ul ul li a {
  border-top: 1px solid #385015;
  border-bottom: 1px solid #314713;
}
#sidebar > ul ul li a:hover,
#sidebar > ul ul li.active a {
  color: #CCCCCC;
  background-color: #385015;
}
.dropdown-menu li a:hover,
.dropdown-menu .active a,
.dropdown-menu .active a:hover {
  background-color: #532424;
}
@media (max-width: 480px) {
  #sidebar > a {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b6176), to(#4b6176));
    background-image: -webkit-linear-gradient(top, #4b6176, 0%, #4b6176, 100%);
    background-image: -moz-linear-gradient(top, #4b6176 0%, #4b6176 100%);
    background-image: linear-gradient(to bottom, #4b6176 0%, #4b6176 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b6176', endColorstr='#ff4b6176', GradientType=0);
    border-bottom: 1px solid #301616;
  }
  #sidebar > ul {
    background-color: #4b6176;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #sidebar > ul ul:before {
    border-right: 7px solid rgba(0, 0, 0, 0.2);
  }
  #sidebar > ul ul:after {
    border-right: 6px solid #13152A;
  }
}
