/* Utilities */
.nopadding {
  padding: 0 !important;
}
.nopadding .table {
  margin-bottom: 0;
}
.nopadding .table-bordered {
  border: 0 !important;
}
.line {
  background: url("../img/line.png") repeat-x scroll 0 0 transparent;
  display: block;
  height: 8px;
}
.css_right {
  float: right;
}
.disabled {
  color: #BBBBBB;
}
