/*@brown: #232639;
@greenDark: #2D335B;
@green: #353C6C;
@greenDarkest: #141528;
@greenDarker: #19182D;
@greenLight: #444C87;*/
* {
  outline: none !important;
  -moz-outline: none !important;
}
/* Main */
/*html {
	overflow-x: hidden;
}*/
body {
  /*overflow-x: hidden;*/

  overflow-y: auto;
  margin-top: -20px;
}
@media (nax-width: 480px) {
  body {
    margin-top: -2px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 18px 0 0 !important;
  }
}
a,
a:hover {
  text-decoration: none !important;
}
.row {
  margin: 0;
}
.tooltip {
  font-size: 10px;
}
.tooltip-inner {
  padding: 4px 8px 3px;
}
