<link href="../../../Content/pdf.css" rel="stylesheet" />
<div class="row-fluid" style="text-align: center;">
    <h2>CHILD SUPPORT SCHEDULE B</h2>
    <h2>ADJUSTED INCOME</h2>
</div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>{{scheduleB.Father}}</th>
            <th>{{scheduleB.Mother}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1. Total Gross Monthly Income</td>
            <td class="currency">${{scheduleB.ScheduleB.GrossIncome}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.GrossIncome}}</td>
        </tr>
        <tr>
            <td>2. Monthly Self-Employment Income on which a parent
                    paid Self-Employment Taxes for FICA & Medicare.</td>
            <td class="currency">${{scheduleB.ScheduleB.SelfEmploymentIncome}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.SelfEmploymentIncome}}</td>
        </tr>
        <tr>
            <td>3. Amount of FICA owed by parent for self-employment
                    income.</td>
            <td class="currency">${{scheduleB.ScheduleB.FicaIncome}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.FicaIncome}}</td>
        </tr>
        <tr>
            <td>4. Amount of Medicare tax owed by a parent for
                    self-employment income.</td>
            <td class="currency">${{scheduleB.ScheduleB.MedicareTax}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.MedicareTax}}</td>
        </tr>
        <tr>
            <td>5. Total for lines 3 and 4.</td>
            <td class="currency">${{scheduleB.ScheduleB.Total34}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.Total34}}</td>
        </tr>
        <tr>
            <td>6. Line 5 minus line 1.</td>
            <td class="currency">${{scheduleB.ScheduleB.Total5Minus1}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.Total5Minus1}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Adjustment for Preexisting Child Support Orders Being Paid for Other Children</th>
            <th>{{scheduleB.Father}}</th>
            <th>{{scheduleB.Mother}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8. Total Adjustment for Preexisting Child Support Orders</td>
            <td>${{scheduleB.ScheduleB.TotalSupport}}</td>
            <td>${{scheduleB.OtherScheduleB.TotalSupport}}</td>
        </tr>
        <tr>
            <td>9. Adjusted Total</td>
            <td>${{scheduleB.ScheduleB.AdjustedSupport}}</td>
            <td>${{scheduleB.OtherScheduleB.AdjustedSupport}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="4">Adjustment for Other Qualified Children</th>
        </tr>
    </thead>
    <tbody id="other-qualified-children">
        <tr>
            <th></th>
            <th>Name of Child</th>
            <th>DOB</th>
            <th>Credit Claimed By</th>
        </tr>
        <tr ng-repeat="child in scheduleB.ScheduleB.OtherChildren">
            <td></td>
            <td>{{child.Name}}</td>
            <td>{{child.DateOfBirth | date: 'mediumDate'}}</td>
            <td>{{child.ClaimedBy}}</td>
        </tr>
        <tr ng-repeat="child in scheduleB.OtherScheduleB.OtherChildren">
            <td></td>
            <td>{{child.Name}}</td>
            <td>{{child.DateOfBirth | date: 'mediumDate'}}</td>
            <td>{{child.ClaimedBy}}</td>
        </tr>
    </tbody>
</table>
<table ng-show="scheduleB.OtherScheduleB.OtherChildrenDescription.length > 0 || scheduleB.ScheduleB.OtherChildrenDescription.length > 0">
    <thead>
        <tr>
            <th>Reason for Inclusion of Qualified Children in This Court Case</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p ng-show="scheduleB.OtherScheduleB.OtherChildrenDescription.length > 0">The addition of Qualified Children for {{scheduleB.Mother}} is based upon: {{scheduleB.OtherScheduleB.OtherChildrenDescription}}</p>
                <p ng-show="scheduleB.ScheduleB.OtherChildrenDescription.length > 0">The addition of Qualified Children for {{scheduleB.Father}} is based upon: {{scheduleB.ScheduleB.OtherChildrenDescription}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <td></td>
            <td>{{scheduleB.Father}}</td>
            <td>{{scheduleB.Mother}}</td>
        </tr>
        <tr>
            <td>11. Subtotal</td>
            <td class="currency">${{scheduleB.ScheduleB.Subtotal}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.Subtotal}}</td>
        </tr>
        <tr>
            <td>12. Amount based upon Georgia Schedule of Basic Child Support Obligations.</td>
            <td class="currency">${{scheduleB.ScheduleB.GeorgiaObligations}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.GeorgiaObligations}}</td>
        </tr>
        <tr>
            <td>13. Theoretical Child Support Order</td>
            <td class="currency">${{scheduleB.ScheduleB.TheoreticalSupport}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.TheoreticalSupport}}</td>
        </tr>
        <tr>
            <td>14. Allowed Preexisting Child Support Order.</td>
            <td class="currency">${{scheduleB.ScheduleB.PreexistingOrder}}</td>
            <td class="currency">${{scheduleB.OtherScheduleB.PreexistingOrder}}</td>
        </tr>
    </tbody>
</table>
<br />
<!--The children are mine by a previous marriage-->
<div class="borderBox centered" style="width: 90%;" ng-show="scheduleB.OtherScheduleB.IncomeDetails.length > 0 || scheduleB.ScheduleB.IncomeDetails.length > 0">
    <p ng-show="scheduleB.ScheduleB.IncomeDetails.length > 0"><span style="font-weight: bold">Other income for {{scheduleB.Father}} is based upon:</span> {{scheduleB.ScheduleB.IncomeDetails}}</p>
    <p ng-show="scheduleB.OtherScheduleB.IncomeDetails.length > 0"><span style="font-weight: bold">Other income for {{scheduleB.Mother}} is based upon:</span> {{scheduleB.OtherScheduleB.IncomeDetails}}</p>
</div>
<form action="/output/pdf" id="bottomPrintButton" method="post" target="_blank">
    <input type="hidden" class="html" name="html" />
    <input type="hidden" class="name" name="name" />
    <input type="submit" class="btn-primary btn printForm" value="Print to PDF">
</form>