@model FriendlyForms.Controllers.HeadersController.StarterViewModel
<link href="../../Content/output.css" rel="stylesheet" />
<div class="row-fluid" >
    <span class='pull-left underline'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Participant.PlaintiffsName  v. @Model.Participant.DefendantsName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class='pull-right underline'> CAF # @Model.Court.CaseNumber </span><br/><br/>
</div>
