@model FriendlyForms.Models.StarterViewModel

<div class="row-fluid" >
    <span class='pull-left underline'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.ParticipantViewModel.PlaintiffsName  v. @Model.ParticipantViewModel.DefendantsName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class='pull-right underline'> CAF # @Model.CourtViewModel.CaseNumber </span><br/><br/>
</div>
