@using Models.ViewModels
<h4>Retirement Assets</h4>
@if (Model.AssetViewModel.Retirement==((int)YesNo.No))
{
    <p>There are no retirement assets to be considered in this case.  All retirement assets held in either party’s name will be the exclusive property of the party in whose name those assets are held.</p>
}
else
{
    <p>Division of retirement assets will occur as follows: <br /> @Model.AssetViewModel.RetirementDescription</p>
}
<h4>Non-Retirement Assets</h4>
@if (Model.AssetViewModel.NonRetirement==((int)YesNo.No))
{
    <p>There are no non-retirement assets to be considered in this case.  All non-retirement assets held in either party’s name will be the exclusive property of the party in whose name those assets are held.</p>
}
else
{
    <p>Division of non-retirement assets will occur as follows: <br /> @Model.AssetViewModel.NonRetirementDescription</p>
}
<h4>Business Assets and Liabilities</h4>
@if (Model.AssetViewModel.Business==((int)YesNo.No))
{
    <p>There are no business assets or liabilities to be considered in this case.  All business assets and/or liabilities held in either party’s name will be the exclusive property property or responsibility of the party in whose name those assets or liabilities are held.</p>
}
else
{
    <p>Division of business assets and liabilities will occur as follows: <br /> @Model.AssetViewModel.BusinessDescription</p>
}
@if (!string.IsNullOrEmpty(Model.AssetViewModel.AdditionalAssets))
{
    <p>Other assets or liabilities will be divided in the following manner: <br />@Model.AssetViewModel.AdditionalAssets</p>
}


