@using Models.ViewModels
<h2>Debt</h2>
@if (Model.DebtViewModel.MaritalDebt==((int)YesNo.No))
{
    <p class="indented">There is no marital debt to be considered in this case.  Each party will be solely responsible for all debt held in his or her name.</p>
}
else
{
    <p class="indented">Division of debt will occur as follows: <br /> @Model.DebtViewModel.DebtDivision</p>
}


