<p>I have read this agreement, I understand its terms, and I agree to each of its provisions, on this ____________ day of _________________________, 20___.</p><br /><br/>
<div class="row-fluid">
    <div class="span5">
        <hr/>
        <span>Plaintiff: @Model.ParticipantsViewModel.PlaintiffsName</span>
    </div>    
    <div class="span5 offset1">
        <hr/>
        <span>Defendant: @Model.ParticipantsViewModel.DefendantsName</span>
    </div>    
</div><br /><br/>
<div class="row-fluid">
    <div class="span5">
        <hr/>
        <span>Attorney for Plaintiff</span>
    </div>    
    <div class="span5 offset1">
        <hr/>
        <span>Attorney for Defendant</span>
    </div>    
</div>