@using Models.ViewModels

<h2>Health Insurance/COBRA</h2>
@if (Model.HealthInsuranceViewModel.Health == (int)YesNo.Yes)
{
    <p class="indented">Each party is responsible for their own health insurance.</p>
}
else
{
    <p class="indented">Health insurance/COBRA will occur as follows: <br /> @Model.HealthInsuranceViewModel.HealthDescription</p>
}


