@using Models.ViewModels
<h2>Tax Returns, Allowances, Deductions and Refunds</h2>
@if (Model.TaxViewModel.Taxes==((int)YesNo.No))
{
    <p class="indented">The parties agree that tax returns, allowances, deductions and refunds will occur as follows: <br> @Model.TaxViewModel.TaxDescription</p>
}
else
{
    <p class="indented">Each party is entitled to tax deductions, allowances, credits and refunds based solely on his or her individual filing circumstances once the divorce is final.</p>
}


