@using Models.ViewModels
<h2>Spousal Support</h2>
@if (Model.SpousalViewModel.Spousal==((int)YesNo.No))
{
    <p class="indented">The parties agree that there will be no provision of spousal support in this case.</p>
}
else
{
    <p class="indented">Provision of spousal support will occur as follows: <br /> @Model.SpousalViewModel.SpousalDescription</p>
}


