@using Models.ViewModels
<h2>Other Real Estate</h2>
@if (Model.PropertyViewModel.RealEstate==((int)YesNo.No))
{
    <p class="indented">There are no other real estate properties for consideration in this case.</p>
}
else
{
    <p class="indented">
        The parties agree that issues regarding real property, other than the marital home, will be handled in the following manner: @Model.PropertyViewModel.RealEstateDescription
    </p>
}
<h2>Furnishings and Personal Property</h2>
@if (Model.PropertyViewModel.PersonalProperty==((int)PersonalProperty.AlreadyDivided))
{
    <p class="indented">The parties have already divided household furnishings and other personal property to their satisfaction.  All furnishings and personal property in the possession of each respective party shall be each party’s exclusive property, effective immediately, or on the effective date of the agreement as stated herein.</p>
}
else if (Model.PropertyViewModel.PersonalProperty==((int)PersonalProperty.Court))
{
    <p class="indented">The division of the parties’ personal property and household furnishings is left for the determination of the court.</p>
}
else
{
    <p class="indented">The parties have determined that their household furnishings and personal property will be divided as follows.  All furnishings and/or property not mentioned expressly here  will become the exclusive property of the holder of that property, effective immediately, or on the effective date of the agreement as stated herein: @Model.PropertyViewModel.DividingProperty</p>
}
