@using Models.ViewModels
@model FriendlyForms.Models.ParentingPlanViewModel

@if (Model.PrivacyViewModel.NeedSupervision== (int)YesNo.Yes)
{
    <h2>Supervision</h2>
    <p class="indented">Supervised parenting time shall apply during the day-to-day schedule as follows: @Model.PrivacyViewModel.SupervisionHow</p>
    <p class="indented">Supervised parenting shall take place at: @Model.PrivacyViewModel.SupervisionWhere</p>
    <p class="indented">@Model.PrivacyViewModel.SupervisionWho will supervise the parenting time.</p>
     switch (Model.PrivacyViewModel.SupervisionCost)
     {
         case (int)DecisionMaker.Father:
             <p class="indented">The cost of supervision will be the responsibility of the Father.</p>    
             break;
        case (int)DecisionMaker.Mother:
             <p class="indented">The cost of supervision will be the responsibility of the Mother.</p>    
             break;            
        case (int)DecisionMaker.Both:
             <p class="indented">The cost of supervision will be shared equally.</p>    
             break;            
     }
}
