@using Models.ViewModels
@model FriendlyForms.Models.ParentingPlanViewModel
<h2>Information</h2>
@if (Model.InformationViewModel.InformationAccess == (int)DecisionMaker.Mother)
{
    <p class="indented">Only the mother will be able to get information about the children, like doctor's records and school reports, directly from the doctor's office or school.</p>
}
else if (Model.InformationViewModel.InformationAccess == (int)DecisionMaker.Father)
{
    <p class="indented">Only the father will be able to get information about the children, like doctor's records and school reports, directly from the doctor's office or school.</p>
}
else if (Model.InformationViewModel.InformationAccess == (int)DecisionMaker.Both)
{
    <p class="indented">Both parents will be able to get information about the children, like doctor's records and school reports, directly from the doctor's office or school.</p>
}
