<script id="friendly-scheduleA-template" type="text/x-jquery-tmpl">
    <div class="row-fluid" style="text-align: center;">
        <h2>CHILD SUPPORT SCHEDULE A</h2>
        <h2>GROSS INCOME</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>GROSS INCOME</th>
                <th>${Father}</th>
                <th>${Mother}</th>
                <th>Combined</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Salary and wages</td>
                <td class="currency">$${Income.W2Income}</td>
                <td class="currency">$${OtherIncome.W2Income}</td>
                <td class="currency">$${CombinedIncome.W2Income}</td>
            </tr>
            <tr>
                <td>2. Commissions, Fees, Tips</td>
                <td class="currency">$${Income.Commisions}</td>
                <td class="currency">$${OtherIncome.Commisions}</td>
                <td class="currency">$${CombinedIncome.Commisions}</td>
            </tr>
            <tr>
                <td>3. Income From Self-Employment</td>
                <td class="currency">$${Income.SelfIncomeNoDeductions}</td>
                <td class="currency">$${OtherIncome.SelfIncomeNoDeductions}</td>
                <td class="currency">$${CombinedIncome.SelfIncomeNoDeductions}</td>
            </tr>
            <tr>
                <td>4. Bonuses</td>
                <td class="currency">$${Income.Bonuses}</td>
                <td class="currency">$${OtherIncome.Bonuses}</td>
                <td class="currency">$${CombinedIncome.Bonuses}</td>
            </tr>
            <tr>
                <td>5. Overtime Payments</td>
                <td class="currency">$${Income.Overtime}</td>
                <td class="currency">$${OtherIncome.Overtime}</td>
                <td class="currency">$${CombinedIncome.Overtime}</td>
            </tr>
            <tr>
                <td>6. Severance Pay</td>
                <td class="currency">$${Income.Severance}</td>
                <td class="currency">$${OtherIncome.Severance}</td>
                <td class="currency">$${CombinedIncome.Severance}</td>
            </tr>
            <tr>
                <td>7. Recurring Income from Pensions or Retirement Plans</td>
                <td class="currency">$${Income.Retirement}</td>
                <td class="currency">$${OtherIncome.Retirement}</td>
                <td class="currency">$${CombinedIncome.Retirement}</td>
            </tr>
            <tr>
                <td>8. Interest Income</td>
                <td class="currency">$${Income.Interest}</td>
                <td class="currency">$${OtherIncome.Interest}</td>
                <td class="currency">$${CombinedIncome.Interest}</td>
            </tr>
            <tr>
                <td>9. Income from Dividends</td>
                <td class="currency">$${Income.Dividends}</td>
                <td class="currency">$${OtherIncome.Dividends}</td>
                <td class="currency">$${CombinedIncome.Dividends}</td>
            </tr>
            <tr>
                <td>10. Trust Income</td>
                <td class="currency">$${Income.Trust}</td>
                <td class="currency">$${OtherIncome.Trust}</td>
                <td class="currency">$${CombinedIncome.Trust}</td>
            </tr>
            <tr>
                <td>11. Income from Annuities</td>
                <td class="currency">$${Income.Annuities}</td>
                <td class="currency">$${OtherIncome.Annuities}</td>
                <td class="currency">$${CombinedIncome.Annuities}</td>
            </tr>
            <tr>
                <td>12. Capital Gains</td>
                <td class="currency">$${Income.Capital}</td>
                <td class="currency">$${OtherIncome.Capital}</td>
                <td class="currency">$${CombinedIncome.Capital}</td>
            </tr>
            <tr>
                <td>13. Social Security Disability or Retirement Benefits</td>
                <td class="currency">$${Income.SocialSecurity}</td>
                <td class="currency">$${OtherIncome.SocialSecurity}</td>
                <td class="currency">$${CombinedIncome.SocialSecurity}</td>
            </tr>
            <tr>
                <td>14. Worker's Compensation Benefits</td>
                <td class="currency">$${Income.Compensation}</td>
                <td class="currency">$${OtherIncome.Compensation}</td>
                <td class="currency">$${CombinedIncome.Compensation}</td>
            </tr>
            <tr>
                <td>15. Unemployment Benefits</td>
                <td class="currency">$${Income.Unemployment}</td>
                <td class="currency">$${OtherIncome.Unemployment}</td>
                <td class="currency">$${CombinedIncome.Unemployment}</td>
            </tr>
            <tr>
                <td>16. Judgements from Personal Injury or Other Civil Cases</td>
                <td class="currency">$${Income.CivilCase}</td>
                <td class="currency">$${OtherIncome.CivilCase}</td>
                <td class="currency">$${CombinedIncome.CivilCase}</td>
            </tr>
            <tr>
                <td>17. Gifts</td>
                <td class="currency">$${Income.Gifts}</td>
                <td class="currency">$${OtherIncome.Gifts}</td>
                <td class="currency">$${CombinedIncome.Gifts}</td>
            </tr>
            <tr>
                <td>18. Prizes / Lottery Winnings</td>
                <td class="currency">$${Income.Prizes}</td>
                <td class="currency">$${OtherIncome.Prizes}</td>
                <td class="currency">$${CombinedIncome.Prizes}</td>
            </tr>
            <tr>
                <td>19. Alimony & maintenance from persons not in this case</td>
                <td class="currency">$${Income.Alimony}</td>
                <td class="currency">$${OtherIncome.Alimony}</td>
                <td class="currency">$${CombinedIncome.Alimony}</td>
            </tr>
            <tr>
                <td>20. Assets which are used for support of family</td>
                <td class="currency">$${Income.Assets}</td>
                <td class="currency">$${OtherIncome.Assets}</td>
                <td class="currency">$${CombinedIncome.Assets}</td>
            </tr>
            <tr>
                <td>21. Fringe Benefits</td>
                <td class="currency">$${Income.Fringe}</td>
                <td class="currency">$${OtherIncome.Fringe}</td>
                <td class="currency">$${CombinedIncome.Fringe}</td>
            </tr>
            <tr>
                <td>22. Any Other Income, including Imputed Income</td>
                <td class="currency">$${Income.Other}</td>
                <td class="currency">$${OtherIncome.Other}</td>
                <td class="currency">$${CombinedIncome.Other}</td>
            </tr>
            <tr>
                <td>23. TOTAL GROSS MONTHLY INCOME</td>
                <td class="currency">$${IncomeTotal}</td>
                <td class="currency">$${OtherIncomeTotal}</td>
                <td class="currency">$${CombinedIncomeTotal}</td>
            </tr>
        </tbody>
    </table> <br/>   
    <div class="borderBox centered" style="width:90%;">
        <p><span style="font-weight: bold">Other income for ${Father} is based upon:</span> ${Income.OtherDetails}</p>
        <p><span style="font-weight: bold">Other income for ${Mother} is based upon:</span> ${OtherIncome.OtherDetails}</p>
    </div>
</script>
