<script id="friendly-scheduleB-template" type="text/x-jquery-tmpl">
    <div class="row-fluid" style="text-align: center;">
        <h2>CHILD SUPPORT SCHEDULE B</h2>
        <h2>ADJUSTED INCOME</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>${CustodialParentName}</th>
                <th>${NonCustodialParentName}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Total Gross Monthly Income</td>
                <td class="currency">$${ScheduleB.GrossIncome}</td>
                <td class="currency">$${OtherScheduleB.GrossIncome}</td>
            </tr>
            <tr>
                <td>2. Monthly Self-Employment Income on which a parent
                    paid Self-Employment Taxes for FICA & Medicare.</td>
                <td class="currency">$${ScheduleB.SelfEmploymentIncome}</td>
                <td class="currency">$${OtherScheduleB.SelfEmploymentIncome}</td>
            </tr>
            <tr>
                <td>3. Amount of FICA owed by parent for self-employment
                    income.</td>
                <td class="currency">$${ScheduleB.FicaIncome}</td>
                <td class="currency">$${OtherScheduleB.FicaIncome}</td>
            </tr>
            <tr>
                <td>4. Amount of Medicare tax owed by a parent for
                    self-employment income.</td>
                <td class="currency">$${ScheduleB.MedicareTax}</td>
                <td class="currency">$${OtherScheduleB.MedicareTax}</td>
            </tr>
            <tr>
                <td>5. Total for lines 3 and 4.</td>
                <td class="currency">$${ScheduleB.Total34}</td>
                <td class="currency">$${OtherScheduleB.Total34}</td>
            </tr>
            <tr>
                <td>6. Line 5 minus line 1.</td>
                <td class="currency">$${ScheduleB.Total5Minus1}</td>
                <td class="currency">$${OtherScheduleB.Total5Minus1}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="3">Adjustment for Preexisting Child Support Orders Being Paid for Other Children</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8. Total Adjustment for Preexisting Child Support Orders</td>
                <td>$${ScheduleB.TotalSupport}</td>
                <td>$${OtherScheduleB.TotalSupport}</td>
            </tr>
            <tr>
                <td>9. Adjusted Total</td>
                <td>$${ScheduleB.AdjustedSupport}</td>
                <td>$${OtherScheduleB.AdjustedSupport}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="4">Adjustment for Other Qualified Children</th>
            </tr>
        </thead>
        <tbody id="other-qualified-children">
            <tr>
                <th></th>
                <th>Name of Child</th>
                <th>DOB</th>
                <th>Credit Claimed By</th>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Reason for Inclusion of Qualified Children in This Court Case</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p>The addition of Qualified Children for ${NonCustodialParentName} is based upon: ${OtherScheduleB.OtherChildrenDescription}</p>
                    <p>The addition of Qualified Children for ${CustodialParentName} is based upon: ${ScheduleB.OtherChildrenDescription}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td></td>
                <td>${CustodialParentName}</td>
                <td>${NonCustodialParentName}</td>
            </tr>
            <tr>
                <td>11. Subtotal</td>
                <td class="currency">$${ScheduleB.Subtotal}</td>
                <td class="currency">$${OtherScheduleB.Subtotal}</td>
            </tr>
            <tr>
                <td>12. Amount based upon Georgia Schedule of Basic Child Support Obligations.</td>
                <td class="currency">$${ScheduleB.GeorgiaObligations}</td>
                <td class="currency">$${OtherScheduleB.GeorgiaObligations}</td>
            </tr>
            <tr>
                <td>13. Theoretical Child Support Order</td>
                <td class="currency">$${ScheduleB.TheoreticalSupport}</td>
                <td class="currency">$${OtherScheduleB.TheoreticalSupport}</td>
            </tr>
            <tr>
                <td>14. Allowed Preexisting Child Support Order.</td>
                <td class="currency">$${ScheduleB.PreexistingOrder}</td>
                <td class="currency">$${OtherScheduleB.PreexistingOrder}</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="borderBox centered" style="width: 90%;">
        <p><span style="font-weight: bold">Other income for ${CustodialParentName} is based upon:</span> ${ScheduleB.OtherDetails}</p>
        <p><span style="font-weight: bold">Other income for ${NonCustodialParentName} is based upon:</span> ${OtherScheduleB.OtherDetails}</p>
    </div>
</script>
<script id="friendly-preexistingSupport-template" type="text/x-jquery-tmpl">
    <tr id="preexistingChildSupport">
        <td>7(1)</td>
        <td>
            <table>
                <tr>
                    <td>Court Name:</td>
                    <td>${CourtName}</td>
                </tr>
                <tr>
                    <td>Court Case #</td>
                    <td>${CaseNumber}</td>
                </tr>
                <tr>
                    <td>Date of Initial Order</td>
                    <td>${OrderDate}</td>
                </tr>
                <tr>
                    <td>Name of Child</td>
                    <td>${Name}</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>${DateOfBirth}</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>Preexisting child support paid by:</td>
                    <td>${PaidBy}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>$${Monthly}</td>
                </tr>
            </table>
        </td>
    </tr>
</script>
<script id="friendly-otherChildren-template" type="text/x-jquery-tmpl">
    {{each OtherChildren}}
    <tr>
        <td></td>
        <td>${$value.Name}</td>
        <td>${$value.DateOfBirth}</td>
        <td>${$value.ClaimedBy}</td>
    </tr>
    {{/each}}
</script>
