<div class="form-vertical wrapper">
    <form ng-submit="submit()" ng-controller="HealthCtrl" ng-model="health.healthForm" name="healthForm" novalidate>
        <input type="hidden" name="Id" ng-model="health.Id">
        <input type="hidden" name="UserId" ng-model="health.UserId">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Health Insurance Information</h5>
                    </div>
                    <div class="widget-content">
                        <label class="informative">In this section you will define health insurance premiums paid to provide coverage for the child(ren) in this action.</label>
                        <div class="control-group">
                            <label class="form-question">
                                Will the [father/mother] provide health insurance for the child(ren)?</label>
                            <label class="radio">
                                Yes
                                <input required ng-model="health.ProvideHealth" name="ProvideHealth" type="radio" value="1"></label>
                            <label class="radio">
                                No
                                <input required ng-model="health.ProvideHealth" name="ProvideHealth" type="radio" value="2"></label>
                            <div ng-show="healthForm.ProvideHealth.$dirty && healthForm.ProvideHealth.$invalid">
                                <span class="form-error" ng-show="healthForm.ProvideHealth.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div ng-show="health.ProvideHealth == 1">
                            <div class="control-group">
                                <label class="informative">
                                    Do you know the monthly health insurance amount per child (i.e. If the monthly amount attributed to the child(ren)s 
                                    benefit is known)?</label>
                                <label class="radio">
                                    Yes
                                <input required ng-model="health.Prorate" name="Prorate" type="radio" value="1"></label>
                                <label class="radio">
                                    No
                                <input required ng-model="health.Prorate" name="Prorate" type="radio" value="2"></label>
                                <div ng-show="healthForm.Prorate.$dirty && healthForm.Prorate.$invalid">
                                    <span class="form-error" ng-show="healthForm.Prorate.$error.required">This field is required</span>
                                </div>
                            </div>
                            <div class="control-group" ng-show="health.Prorate == 1">
                                <label class="form-question">
                                    How will health insurance be funded?</label>
                                <label class="checkbox">
                                    The father's portion of health insurance is currently included in health insurance premiums.
                                        <input ng-model="health.FathersHealth" name="FathersHealth" type="checkbox" value="False"></label>
                                <label class="checkbox ">
                                    The mother's portion of health insurance is currently included in health insurance premiums.
                                        <input ng-model="health.MothersHealth" name="MothersHealth" type="checkbox" value="False"></label>
                                <label class="checkbox">
                                    The nonparent custodian's portion of health insurance is currently included in health insurance premiums.
                                        <input ng-model="health.NonCustodialHealth" name="NonCustodialHealth" type="checkbox" value="False"></label>
                            </div>
                            <div class="control-group">
                                <label class="form-question span3">Father</label>
                                <input number ng-model="health.FathersHealthAmount" name="FathersHealthAmount" placeholder="Amount" type="text" value="">
                                <div ng-show="healthForm.FathersHealthAmount.$dirty && healthForm.FathersHealthAmount.$invalid">
                                    <span class="form-error" ng-show="healthForm.FathersHealthAmount.$error.number">This field must be a number.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="form-question span3">Mother</label>
                                <input number ng-model="health.MothersHealthAmount" name="MothersHealthAmount" placeholder="Amount" type="text" value="">
                                <div ng-show="healthForm.MothersHealthAmount.$dirty && healthForm.MothersHealthAmount.$invalid">
                                    <span class="form-error" ng-show="healthForm.MothersHealthAmount.$error.number">This field must be a number.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="form-question span3">Nonparent Custodian</label>
                                <input number ng-model="health.NonCustodialHealthAmount" name="NonCustodialHealthAmount" placeholder="Amount" type="text" value="">
                                <div ng-show="healthForm.NonCustodialHealthAmount.$dirty && healthForm.NonCustodialHealthAmount.$invalid">
                                    <span class="form-error" ng-show="healthForm.NonCustodialHealthAmount.$error.number">This field must be a number.</span>
                                </div>
                            </div>
                            <label class="informative">
                                What percentage will each part pay of healthcare expenses not covered by inurance (eg. deductibles, copays, perscriptions, ER)?</label>
                            <div class="control-group">
                                <label class="form-question span3">Father</label>
                                <input class="percent" number min="0" max="100" ng-model="health.FathersHealthPercentage" name="FathersHealthPercentage" placeholder="Percent" type="text" value="">
                                <div ng-show="healthForm.FathersHealthPercentage.$dirty && healthForm.FathersHealthPercentage.$invalid">
                                    <span class="form-error" ng-show="healthForm.FathersHealthPercentage.$error.max || healthForm.FathersHealthPercentage.$error.min">This field is must be between 0-100</span>
                                    <span class="form-error" ng-show="healthForm.FathersHealthPercentage.$error.number">This field must be a number.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="form-question span3">Mother</label>
                                <input class="percent" number min="0" max="100" ng-model="health.MothersHealthPercentage" name="MothersHealthPercentage" placeholder="Percent" type="text" value="">
                                <div ng-show="healthForm.MothersHealthPercentage.$dirty && healthForm.MothersHealthPercentage.$invalid">
                                    <span class="form-error" ng-show="healthForm.MothersHealthPercentage.$error.max || healthForm.MothersHealthPercentage.$error.min">This field is must be between 0-100</span>
                                    <span class="form-error" ng-show="healthForm.MothersHealthPercentage.$error.number">This field must be a number.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="form-question span3">Nonparent Custodian</label>
                                <input class="percent" number min="0" max="100" ng-model="health.NonCustodialHealthPercentage" name="NonCustodialHealthPercentage" placeholder="Percent" type="text" value="">
                                <div ng-show="healthForm.NonCustodialHealthPercentage.$dirty && healthForm.NonCustodialHealthPercentage.$invalid">
                                    <span class="form-error" ng-show="healthForm.NonCustodialHealthPercentage.$error.max || healthForm.NonCustodialHealthPercentage.$error.min">This field is must be between 0-100</span>
                                    <span class="form-error" ng-show="healthForm.NonCustodialHealthPercentage.$error.number">This field must be a number.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
