<div class="form-vertical wrapper">
    <form ng-controller="SurveyCtrl" id="surveyForm" name="surveyForm" novalidate>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Surveys</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row form-question">
                            <div class="col-lg-4">Login</div>
                            <div class="col-lg-3"><span class="pull-left">I Disagree</span><span class="pull-right">I Agree</span></div>
                            <div class="col-lg-4">Comments</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.LoginOne" name="LoginOne" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginOne" name="LoginOne" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginOne" name="LoginOne" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginOne" name="LoginOne" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginOne" name="LoginOne" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.LoginOneComment" name="LoginOneComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">After log in, I was taken where I expected to go.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.LoginTwo" name="LoginTwo" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginTwo" name="LoginTwo" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginTwo" name="LoginTwo" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginTwo" name="LoginTwo" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginTwo" name="LoginTwo" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.LoginTwoComment" name="LoginTwoComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.LoginThree" name="LoginThree" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginThree" name="LoginThree" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginThree" name="LoginThree" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginThree" name="LoginThree" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.LoginThree" name="LoginThree" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.LoginThreeComment" name="LoginThreeComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="row form-question">
                            <div class="col-lg-4">Data Entry</div>
                            <div class="col-lg-3"><span class="pull-left">I Disagree</span><span class="pull-right">I Agree</span></div>
                            <div class="col-lg-4">Comments</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.DataEntryOne" name="DataEntryOne" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryOne" name="DataEntryOne" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryOne" name="DataEntryOne" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryOne" name="DataEntryOne" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryOne" name="DataEntryOne" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.DataEntryOneComment" name="DataEntryOneComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.DataEntryTwo" name="DataEntryTwo" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryTwo" name="DataEntryTwo" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryTwo" name="DataEntryTwo" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryTwo" name="DataEntryTwo" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryTwo" name="DataEntryTwo" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.DataEntryTwoComment" name="DataEntryTwoComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.DataEntryThree" name="DataEntryThree" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryThree" name="DataEntryThree" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryThree" name="DataEntryThree" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryThree" name="DataEntryThree" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryThree" name="DataEntryThree" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.DataEntryThreeComment" name="DataEntryThreeComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.DataEntryFour" name="DataEntryFour" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFour" name="DataEntryFour" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFour" name="DataEntryFour" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFour" name="DataEntryFour" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFour" name="DataEntryFour" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.DataEntryFourComment" name="DataEntryFourComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.DataEntryFive" name="DataEntryFive" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFive" name="DataEntryFive" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFive" name="DataEntryFive" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFive" name="DataEntryFive" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.DataEntryFive" name="DataEntryFive" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.DataEntryFiveComment" name="DataEntryFiveComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="row form-question">
                            <div class="col-lg-4">Navigation</div>
                            <div class="col-lg-3"><span class="pull-left">I Disagree</span><span class="pull-right">I Agree</span></div>
                            <div class="col-lg-4">Comments</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.NavigationOne" name="NavigationOne" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationOne" name="NavigationOne" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationOne" name="NavigationOne" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationOne" name="NavigationOne" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationOne" name="NavigationOne" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.NavigationOneComment" name="NavigationOneComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.NavigationTwo" name="NavigationTwo" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationTwo" name="NavigationTwo" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationTwo" name="NavigationTwo" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationTwo" name="NavigationTwo" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationTwo" name="NavigationTwo" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.NavigationTwoComment" name="NavigationTwoComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.NavigationThree" name="NavigationThree" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationThree" name="NavigationThree" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationThree" name="NavigationThree" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationThree" name="NavigationThree" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationThree" name="NavigationThree" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.NavigationThreeComment" name="NavigationThreeComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.NavigationFour" name="NavigationFour" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationFour" name="NavigationFour" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationFour" name="NavigationFour" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationFour" name="NavigationFour" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.NavigationFour" name="NavigationFour" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.NavigationFourComment" name="NavigationFourComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="row form-question">
                            <div class="col-lg-4">Output</div>
                            <div class="col-lg-3"><span class="pull-left">I Disagree</span><span class="pull-right">I Agree</span></div>
                            <div class="col-lg-4">Comments</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.OutputOne" name="OutputOne" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputOne" name="OutputOne" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputOne" name="OutputOne" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputOne" name="OutputOne" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputOne" name="OutputOne" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.OutputOneComment" name="OutputOneComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.OutputTwo" name="OutputTwo" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputTwo" name="OutputTwo" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputTwo" name="OutputTwo" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputTwo" name="OutputTwo" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputTwo" name="OutputTwo" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.OutputTwoComment" name="OutputTwoComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.OutputThree" name="OutputThree" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputThree" name="OutputThree" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputThree" name="OutputThree" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputThree" name="OutputThree" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputThree" name="OutputThree" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.OutputThreeComment" name="OutputThreeComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">It was easy to log in using the supplied Email address and Password.</div>
                            <div class="col-lg-3" style="text-align: center">
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 0;" required ng-model="survey.OutputFour" name="OutputFour" type="radio" value="1"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputFour" name="OutputFour" type="radio" value="2"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputFour" name="OutputFour" type="radio" value="3"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputFour" name="OutputFour" type="radio" value="4"></label>
                                <label class="radio-inline">&nbsp;<input class="inline" style="margin-left: 8px;" required ng-model="survey.OutputFour" name="OutputFour" type="radio" value="5"></label>
                            </div>
                            <div class="col-lg-4">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Please discuss any issues you encountered" ng-model="survey.OutputFourComment" name="OutputFourComment" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-question">We really want to know of anything you feel needs our attention...tell us anything you don't like about the whole, Split Solutions experience.  If something stands out that you feel that was done great, we want to hear about that too.</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Tell us how to make our service better." ng-model="survey.FinalComment" name="FinalComment" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="sendResult()" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
