<div class="form-vertical wrapper" id="courtWrapper">
    <form ng-submit="submit()" ng-controller="CourtCtrl" id="courtForm" name="courtForm" novalidate>
        <input type="hidden" name="Id" ng-model="court.Id">
        <input type="hidden" name="UserId" ng-model="court.UserId">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Court Information</h5>
                    </div>
                    <div class="widget-content">
                        <label class="informative">Fill in the information regarding your circumstances below.</label>
                        <div class="control-group">
                            <label class="form-question">County</label>
                            <select ng-model="court.CountyId" name="CountyId" required>
                                <option value="-1">-- Select County --</option>
                                <option value="1">Cobb</option>
                                <option value="2">Dekalb</option>
                                <option value="3">Fulton</option>
                                <option value="4">Gwinnett</option>
                            </select>
                            <div ng-show="courtForm.CountyId.$dirty && courtForm.CountyId.$invalid">
                                <span class="form-error" ng-show="courtForm.CountyId.$error.required">Please select a county</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="form-question">Case Number</label>
                            <input ui-jq="popover" data-content="Your case number can be found XXXX." name="CaseNumber" ng-model="court.CaseNumber" ng-pattern="/^[0-9a-zA-Z\s-]*$/" placeholder="Case Number" type="text" value="" required>
                            <div ng-show="courtForm.CaseNumber.$dirty && courtForm.CaseNumber.$invalid">
                                <span class="form-error" ng-show="courtForm.CaseNumber.$error.required">Case Number is required</span>
                                <span class="form-error" ng-show="courtForm.CaseNumber.$error.pattern">Case Number may only contain numbers, letters and dashes.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="form-question" ui-jq="popover" data-content="Was this plan prepared by a judge, or by the parties involved?">
                                Who is the author of this plan?
                            </label>
                            <label class="radio">
                                Parties agree to this plan
                                <input data-val="true" ng-model="court.AuthorOfPlan" type="radio" value="1" required></label>
                            <label class="radio">
                                Plan Prepared by a judge
                                <input id="Radio1" ng-model="court.AuthorOfPlan" type="radio" value="2" required></label>
                            <div ng-show="court.AuthorOfPlan.$dirty && court.AuthorOfPlan.$invalid">
                                <span class="form-error" ng-show="court.AuthorOfPlan.$error.required">Author is required</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="form-question" ui-jq="popover" data-content="This plan has either been in force prior to this action or it is a new plan being enforced for the first time.">
                                Is this a new plan or an existing plan?
                            </label>
                            <label class="radio">
                                A new plan
                                <input ng-model="court.PlanType" type="radio" value="1" required></label>
                            <label class="radio">
                                A modification of an existing plan
                                <input ng-model="court.PlanType" type="radio" value="2"></label>
                            <label class="radio">
                                A modification of an existing order
                                <input ng-model="court.PlanType" type="radio" value="3"></label>
                            <div ng-show="court.PlanType.$dirty && court.PlanType.$invalid">
                                <span class="form-error" ng-show="court.PlanType.$error.required">Author is required</span>
                            </div>
                        </div>
                        <div class="control-group" ng-show="court.PlanType==2 || court.PlanType==3">
                            <label class="form-question">Case Number</label>
                            <input ng-model="court.ExistCaseNumber" ui-jq="popover" data-content="Your case number can be found XXXX." placeholder="Case Number" type="text" ng-pattern="/^[0-9a-zA-Z\s-]*$/">
                            <div ng-show="court.ExistCaseNumber.$dirty && court.ExistCaseNumber.$invalid">
                                <span class="form-error" ng-show="court.ExistCaseNumber.$error.pattern">Case Number may only contain numbers, letters and dashes.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
