body
{
    color: #000;
    margin: 0;
}
#main-content, #content-header
{
    background-image: none;
    font-family: Times, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 27px;
}
    #main-content h4
    {
        font-size: 16px;
        line-height: 20px;
        min-height: 20px;
    }

h1, h2, h3, h4, h5, h6
{
    margin: 0 0 8px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1
{
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

h2
{
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

h3
{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}

h4
{
    font-size: 14px;
    line-height: 20px;
}

h5
{
    font-size: 12px;
    line-height: 20px;
}

h6
{
    font-size: 12px;
    line-height: 20px;
}
#header h1
{
    margin: 0;
}

#main-content hr
{
    border-color: black;
    margin: 0 0 10px 0;
}

.pull-right
{
    float: right;
}

.pull-left
{
    float: left;
}

#main-content p
{
    margin: 0 0 24px;
}

.underline
{
    text-decoration: underline;
}

.indented
{
    padding-left: 20px;
}

.indented40
{
    padding-left: 40px;
}

.indentedTiny
{
    padding-left: 10px;
}

.linehtless50
{
    line-height: 50%;
    padding-left: 20px;
}

.borderBox
{
    border: 2px solid #000;
    padding: 0px 0px 20px 0px;
    /*width:400px;*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Old Firefox */
}

table
{
    border: #000 1px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing:0 0;
    margin: 0 auto 20px;
    width: 90%;
}
table th, table td {
    padding: 0 6px;
}
.centered {
    margin: 0 auto;
}
table tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
table tbody tr, table tbody td{
    border: 1px solid #000;
}
table thead th{
    border: 1px solid #000;
}
table thead th:first-child {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;    
}
table thead th:last-child
{
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
table tr:last-child {
    font-weight: bold;
}
ol.bold li{
    font-weight: bold;
}
ol.bold li p{
    font-weight: normal;
}
ul.no-style li, ol.no-style li{
    list-style-type:none;
}

/*#region Don't make changes after this'*/
.container::before, .container::after
{
    display: table;
    content: "";
    line-height: 0;
}

.container::after
{
    clear: both;
}

.row
{
    width: 100%;
}

.row
{
    margin-left: -30px;
    *zoom: 1;
}

    .row:before,
    .row:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after
    {
        clear: both;
    }

[class*="span"]
{
    float: left;
    margin-left: 30px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
{
    width: 1170px;
}

.span12
{
    width: 1170px;
}

.span11
{
    width: 1070px;
}

.span10
{
    width: 970px;
}

.span9
{
    width: 870px;
}

.span8
{
    width: 770px;
}

.span7
{
    width: 670px;
}

.span6
{
    width: 570px;
}

.span5
{
    width: 470px;
}

.span4
{
    width: 370px;
}

.span3
{
    width: 270px;
}

.span2
{
    width: 170px;
}

.span1
{
    width: 70px;
}

.offset12
{
    margin-left: 1230px;
}

.offset11
{
    margin-left: 1130px;
}

.offset10
{
    margin-left: 1030px;
}

.offset9
{
    margin-left: 930px;
}

.offset8
{
    margin-left: 830px;
}

.offset7
{
    margin-left: 730px;
}

.offset6
{
    margin-left: 630px;
}

.offset5
{
    margin-left: 530px;
}

.offset4
{
    margin-left: 430px;
}

.offset3
{
    margin-left: 330px;
}

.offset2
{
    margin-left: 230px;
}

.offset1
{
    margin-left: 130px;
}

.row
{
    width: 100%;
    *zoom: 1;
}

    .row:before,
    .row:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after
    {
        clear: both;
    }

    .row [class*="span"]
    {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.564102564102564%;
        *margin-left: 2.5109110747408616%;
    }

        .row [class*="span"]:first-child
        {
            margin-left: 0;
        }

    .row .span12
    {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .row .span11
    {
        width: 91.45299145299145%;
        *width: 91.39979996362975%;
    }

    .row .span10
    {
        width: 82.90598290598291%;
        *width: 82.8527914166212%;
    }

    .row .span9
    {
        width: 74.35897435897436%;
        *width: 74.30578286961266%;
    }

    .row .span8
    {
        width: 65.81196581196582%;
        *width: 65.75877432260411%;
    }

    .row .span7
    {
        width: 57.26495726495726%;
        *width: 57.21176577559556%;
    }

    .row .span6
    {
        width: 48.717948717948715%;
        *width: 48.664757228587014%;
    }

    .row .span5
    {
        width: 40.17094017094017%;
        *width: 40.11774868157847%;
    }

    .row .span4
    {
        width: 31.623931623931625%;
        *width: 31.570740134569924%;
    }

    .row .span3
    {
        width: 23.076923076923077%;
        *width: 23.023731587561375%;
    }

    .row .span2
    {
        width: 14.52991452991453%;
        *width: 14.476723040552828%;
    }

    .row .span1
    {
        width: 5.982905982905983%;
        *width: 5.929714493544281%;
    }

    .row .offset12
    {
        margin-left: 105.12820512820512%;
        *margin-left: 105.02182214948171%;
    }

        .row .offset12:first-child
        {
            margin-left: 102.56410256410257%;
            *margin-left: 102.45771958537915%;
        }

    .row .offset11
    {
        margin-left: 96.58119658119658%;
        *margin-left: 96.47481360247316%;
    }

        .row .offset11:first-child
        {
            margin-left: 94.01709401709402%;
            *margin-left: 93.91071103837061%;
        }

    .row .offset10
    {
        margin-left: 88.03418803418803%;
        *margin-left: 87.92780505546462%;
    }

        .row .offset10:first-child
        {
            margin-left: 85.47008547008548%;
            *margin-left: 85.36370249136206%;
        }

    .row .offset9
    {
        margin-left: 79.48717948717949%;
        *margin-left: 79.38079650845607%;
    }

        .row .offset9:first-child
        {
            margin-left: 76.92307692307693%;
            *margin-left: 76.81669394435352%;
        }

    .row .offset8
    {
        margin-left: 70.94017094017094%;
        *margin-left: 70.83378796144753%;
    }

        .row .offset8:first-child
        {
            margin-left: 68.37606837606839%;
            *margin-left: 68.26968539734497%;
        }

    .row .offset7
    {
        margin-left: 62.393162393162385%;
        *margin-left: 62.28677941443899%;
    }

        .row .offset7:first-child
        {
            margin-left: 59.82905982905982%;
            *margin-left: 59.72267685033642%;
        }

    .row .offset6
    {
        margin-left: 53.84615384615384%;
        *margin-left: 53.739770867430444%;
    }

        .row .offset6:first-child
        {
            margin-left: 51.28205128205128%;
            *margin-left: 51.175668303327875%;
        }

    .row .offset5
    {
        margin-left: 45.299145299145295%;
        *margin-left: 45.1927623204219%;
    }

        .row .offset5:first-child
        {
            margin-left: 42.73504273504273%;
            *margin-left: 42.62865975631933%;
        }

    .row .offset4
    {
        margin-left: 36.75213675213675%;
        *margin-left: 36.645753773413354%;
    }

        .row .offset4:first-child
        {
            margin-left: 34.18803418803419%;
            *margin-left: 34.081651209310785%;
        }

    .row .offset3
    {
        margin-left: 28.205128205128204%;
        *margin-left: 28.0987452264048%;
    }

        .row .offset3:first-child
        {
            margin-left: 25.641025641025642%;
            *margin-left: 25.53464266230224%;
        }

    .row .offset2
    {
        margin-left: 19.65811965811966%;
        *margin-left: 19.551736679396257%;
    }

        .row .offset2:first-child
        {
            margin-left: 17.094017094017094%;
            *margin-left: 16.98763411529369%;
        }

    .row .offset1
    {
        margin-left: 11.11111111111111%;
        *margin-left: 11.004728132387708%;
    }

        .row .offset1:first-child
        {
            margin-left: 8.547008547008547%;
            *margin-left: 8.440625568285142%;
        }

input,
textarea,
.uneditable-input
{
    margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"]
{
    margin-left: 30px;
}

input.span12, textarea.span12, .uneditable-input.span12
{
    width: 1156px;
}

input.span11, textarea.span11, .uneditable-input.span11
{
    width: 1056px;
}

input.span10, textarea.span10, .uneditable-input.span10
{
    width: 956px;
}

input.span9, textarea.span9, .uneditable-input.span9
{
    width: 856px;
}

input.span8, textarea.span8, .uneditable-input.span8
{
    width: 756px;
}

input.span7, textarea.span7, .uneditable-input.span7
{
    width: 656px;
}

input.span6, textarea.span6, .uneditable-input.span6
{
    width: 556px;
}

input.span5, textarea.span5, .uneditable-input.span5
{
    width: 456px;
}

input.span4, textarea.span4, .uneditable-input.span4
{
    width: 356px;
}

input.span3, textarea.span3, .uneditable-input.span3
{
    width: 256px;
}

input.span2, textarea.span2, .uneditable-input.span2
{
    width: 156px;
}

input.span1, textarea.span1, .uneditable-input.span1
{
    width: 56px;
}

.row .thumbnails
{
    margin-left: 0;
}
/*#endregion '*/

