body {
    background-color: white;
}
.widget-content {
    background-color: white;
    background-image: none;
    font-family: Times, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 27px;
}

.page-break {
    clear: both;
    page-break-after: always;
}
