<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <form ng-submit="submit()" ng-controller="PropertyCtrl" id="propertyForm" name="propertyForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="glyphicon-signal"></i></span>
                        <h5>Real Estate and Property</h5>
                    </div>
                    <div class="widget-content">
                        <div class="input-group">
                            <label class="form-question">
                                Is there any other real estate at issue in this case?</label>
                            <label class="radio inline">Yes<input class="form-control" class="inline" required ng-model="property.RealEstate" name="RealEstate" type="radio" value="1"></label>
                            <label class="radio inline">No<input class="form-control" class="inline" required ng-model="property.RealEstate" name="RealEstate" type="radio" value="2"></label>
                            <div ng-show="propertyForm.RealEstate.$dirty && propertyForm.RealEstate.$invalid || (showErrors && propertyForm.RealEstate.$invalid)">
                                <span class="form-error" ng-show="propertyForm.RealEstate.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="input-group" ng-show="property.RealEstate == 1">
                            <label class="form-question">Provide details of additional property and how it will be divided.</label>
                            <textarea class="input-xxlarge" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="property.RealEstateDescription" name="RealEstateDescription" placeholder="Details" rows="2"></textarea>
                            <div ng-show="propertyForm.RealEstateDescription.$dirty && propertyForm.RealEstateDescription.$invalid  || (showErrors && propertyForm.RealEstateDescription.$invalid)">
                                <span class="form-error" ng-show="propertyForm.RealEstateDescription.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="form-question">
                                Division of the parties' household furnishings and personal property has been or will be decided in one of three ways:</label>
                            <label class="radio">
                                Has already been divided to the satisfaction of both parties
                                <input class="form-control" required ng-model="property.PersonalProperty" name="PersonalProperty" type="radio" value="1"></label>
                            <label class="radio">
                                Will be determined by the court 
                                <input class="form-control" ng-model="property.PersonalProperty" required name="PersonalProperty" type="radio" value="2"></label>
                            <label class="radio">
                                Will be divided in the following manner:
                                <input class="form-control" ng-model="property.PersonalProperty" required name="PersonalProperty" type="radio" value="3"></label>
                            <div ng-show="propertyForm.PersonalProperty.$dirty && propertyForm.PersonalProperty.$invalid || (showErrors && propertyForm.PersonalProperty.$invalid)">
                                <span class="form-error" ng-show="propertyForm.PersonalProperty.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="input-group" ng-show="property.PersonalProperty == 3">
                            <textarea class="input-xxlarge" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="property.DividingProperty" name="DividingProperty" placeholder="Describe how personal property such as jewelry, home furnishings etc will be divided." rows="2"></textarea>
                            <div ng-show="propertyForm.DividingProperty.$dirty && propertyForm.DividingProperty.$invalid || (showErrors && propertyForm.DividingProperty.$invalid)">
                                <span class="form-error" ng-show="propertyForm.DividingProperty.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-default btn-default btn-primary" value="Continue">Continue <i class="glyphicon-arrow-right icon-white"></i></button>
    </form>
</div>
