<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <form ng-submit="submit()" ng-controller="PrivacyCtrl" id="privacyForm" name="privacyForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Privacy</h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group row">
                            <label class="form-question col-xs-12">
                                Have there been documented prior acts of family violence that would cause either of you not to want the other party to have your addresses?</label>
                            <div class="col-lg-12">
                                <div class="radio">
                                    <label>
                                        Yes
                                    <input required id="NeedPrivacy" ng-model="privacy.NeedPrivacy" name="NeedPrivacy" type="radio" value="1"></label>
                                </div>
                                <div class="radio">
                                    <label>No<input required id="Radio1" ng-model="privacy.NeedPrivacy" name="NeedPrivacy" type="radio" value="2"></label>
                                </div>
                                <div ng-show="privacyForm.NeedPrivacy.$dirty && privacyForm.NeedPrivacy.$invalid || (showErrors && privacyForm.NeedPrivacy.$invalid)">
                                    <span class="form-error" ng-show="privacyForm.NeedPrivacy.$error.required">Privacy is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-question col-xs-12">
                                Does either parent require supervised parenting time?</label>
                            <div class="col-lg-12">
                                <div class="radio">
                                    <label>
                                        Yes
                                               <input required ng-model="privacy.NeedSupervision" id="NeedSupervision" name="NeedSupervision" type="radio" value="1"></label>
                                </div>
                                <div class="radio">
                                    <label>
                                        No
                                               <input required ng-model="privacy.NeedSupervision" id="Radio2" name="NeedSupervision" type="radio" value="2"></label>
                                </div>
                                <div ng-show="privacyForm.NeedSupervision.$dirty && privacyForm.NeedSupervision.$invalid || (showErrors && privacyForm.NeedSupervision.$invalid)">
                                    <span class="form-error" ng-show="privacyForm.NeedSupervision.$error.required">Supervision is required</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="privacy.NeedSupervision == 1">
                            <div class="form-group row">
                                <label class="form-question col-xs-12">
                                    How will supervised parenting time be applied during the day-to-day schedule?</label>
                                <div class="col-lg-4">
                                    <textarea class="form-control" cols="20" ng-model="privacy.SupervisionHow" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" id="SupervisionHow" name="SupervisionHow" placeholder="Details" rows="4" style="width: 98%"></textarea>
                                    <div ng-show="privacyForm.SupervisionHow.$dirty && privacyForm.SupervisionHow.$invalid || (showErrors && privacyForm.SupervisionHow.$invalid)">
                                        <span class="form-error" ng-show="privacyForm.SupervisionHow.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12">
                                    In the box below, finish the following sentence: Supervised parenting time will occur at...</label>
                                <div class="col-lg-4">
                                    <input class="form-control" ng-model="privacy.SupervisionWhere" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" id="SupervisionWhere" name="SupervisionWhere" placeholder="Where" type="text" value="">
                                    <div ng-show="privacyForm.SupervisionWhere.$dirty && privacyForm.SupervisionWhere.$invalid || (showErrors && privacyForm.SupervisionWhere.$invalid)">
                                        <span class="form-error" ng-show="privacyForm.SupervisionWhere.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">
                                    Who will supervise the parenting time?</label>
                                <div class="col-lg-4">
                                    <input class="form-control" ng-model="privacy.SupervisionWho" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" id="SupervisionWho" name="SupervisionWho" placeholder="Person or organization" type="text" value="">
                                    <div ng-show="privacyForm.SupervisionWho.$dirty && privacyForm.SupervisionWho.$invalid || (showErrors && privacyForm.SupervisionWho.$invalid)">
                                        <span class="form-error" ng-show="privacyForm.SupervisionWho.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">
                                    Who will be responsible for the cost of supervision?</label>
                                <div class="col-lg-12">
                                    <div class="radio">
                                        <label>
                                            Father
                                                   <input ng-model="privacy.SupervisionCost" id="SupervisionCost" name="SupervisionCost" type="radio" value="1"></label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            Mother
                                                   <input ng-model="privacy.SupervisionCost" id="Radio3" name="SupervisionCost" type="radio" value="2"></label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            Cost will be shared
                                                   <input ng-model="privacy.SupervisionCost" id="Radio4" name="SupervisionCost" type="radio" value="3"></label>
                                    </div>
                                    <!--                                <div ng-show="privacyForm.SupervisionCost.$dirty && privacyForm.SupervisionCost.$invalid || (showErrors && privacyForm.SupervisionCost.$invalid)">
                                                                    <span class="form-error" ng-show="privacyForm.SupervisionCost.$error.required">This field is required</span>
                                                                </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <button class="btn btn-default btn-primary btn-continue" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
