<div class="form-vertical wrapper">
    <form ng-submit="submit()" ng-controller="EntityCtrl" ng-model="entity.entityForm" name="entityForm" novalidate>
        <input type="hidden" name="Id" ng-model="entity.Id">
        <input type="hidden" name="UserId" ng-model="entity.UserId">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Assets</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <label class="form-question">
                                How will retirment assets be divided?</label>
                            <label class="radio">
                                There are no retirement assets to be considered.
                                <input required ng-model="entity.Retirement" name="Retirement" type="radio" value="2"></label>
                            <label class="radio">
                                Division of retirement assets will occur as follows:
                                <input required ng-model="entity.Retirement" name="Retirement" type="radio" value="1"></label>
                            <div ng-show="entityForm.Retirement.$dirty && entityForm.Retirement.$invalid">
                                <span class="form-error" ng-show="entityForm.Retirement.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="control-group retirement-detail hide">
                            <textarea class="input-xxlarge" cols="20" ng-pattern="^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$" ng-model="entity.RetirementDescription" name="RetirementDescription" placeholder="Details" rows="2"></textarea>
                            <div ng-show="entityForm.RetirementDescription.$dirty && entityForm.RetirementDescription.$invalid">
                                <span class="form-error" ng-show="entityForm.RetirementDescription.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="form-question">
                                How will non-retirment assets be divided?</label>
                            <label class="radio">
                                There are no non-retirement assets to be considered.
                                <input required ng-model="entity.NonRetirement" name="NonRetirement" type="radio" value="2"></label>
                            <label class="radio">
                                Division of non-retirement assets will occur as follows:
                                <input required ng-model="entity.NonRetirement" name="NonRetirement" type="radio" value="1"></label>
                            <div ng-show="entityForm.NonRetirement.$dirty && entityForm.NonRetirement.$invalid">
                                <span class="form-error" ng-show="entityForm.NonRetirement.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="control-group non-retirement-detail hide">
                            <textarea class="input-xxlarge" cols="20" ng-pattern="^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$" ng-model="entity.NonRetirementDescription" name="NonRetirementDescription" placeholder="Details" rows="2"></textarea>
                            <div ng-show="entityForm.NonRetirementDescription.$dirty && entityForm.NonRetirementDescription.$invalid">
                                <span class="form-error" ng-show="entityForm.NonRetirementDescription.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="form-question">
                                How will business assets and liabilites be divided?</label>
                            <label class="radio">
                                There are no business assets or liabilities to be considered.
                                <input required ng-model="entity.Business" name="Business" type="radio" value="2"></label>
                            <label class="radio">
                                Division of business assets or liabilities will occur as follows: 
                                <input required ng-model="entity.Business" name="Business" type="radio" value="1"></label>
                            <div ng-show="entityForm.Business.$dirty && entityForm.Business.$invalid">
                                <span class="form-error" ng-show="entityForm.Business.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="control-group business-detail hide">
                            <textarea class="input-xxlarge" cols="20" ng-pattern="^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$" ng-model="entity.BusinessDescription" name="BusinessDescription" placeholder="Details" rows="2"></textarea>
                            <div ng-show="entityForm.BusinessDescription.$dirty && entityForm.BusinessDescription.$invalid">
                                <span class="form-error" ng-show="entityForm.BusinessDescription.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="form-question">
                                Are there any other assets or liabilities to be divided?</label>
                            <textarea class="input-xxlarge" cols="20" ng-pattern="^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$" ng-model="entity.AdditionalAssets" name="AdditionalAssets" placeholder="Details" rows="2"></textarea>
                            <div ng-show="entityForm.AdditionalAssets.$dirty && entityForm.AdditionalAssets.$invalid">
                                <span class="form-error" ng-show="entityForm.AdditionalAssets.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
