<script id="friendly-extraDecisions-template" type="text/x-jquery-tmpl">
    <div class="control-group extra-decision-item">
        <label class="informative" id="extra-decision-description">
            ${Description}</label>
        <label class="radio inline">
            Father 
            {{if DecisionMaker===1}}
            <input checked="checked" class="inline extra-decision-maker" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" data-val="true" data-val-number="The field must be a number." data-val-required="The field is required."  type="radio" value="1">
            {{else}}
            <input class="inline extra-decision-maker" data-val="true" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" data-val-number="The field must be a number." data-val-required="The field is required." type="radio" value="1">
            {{/if}}
        </label>
        <label class="radio inline">
            Mother
            {{if DecisionMaker===2}}
            <input checked="checked" class="inline extra-decision-maker"  name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" type="radio" value="2">
            {{else}}
            <input  class="inline" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" type="radio"  value="2">
            {{/if}}
        </label>
        <label class="radio inline">
            Both
            {{if DecisionMaker===3}}
            <input checked="checked" class="inline extra-decision-maker" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" type="radio" value="3">
            {{else}}
            <input class="inline" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" type="radio" value="3">
            {{/if}}
        </label>      
        <label class="radio inline">
            Not Applicable
            {{if DecisionMaker===4}}
            <input checked="checked" class="inline extra-decision-maker" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" type="radio" value="4">
            {{else}}
            <input class="inline" name="ExtraDecisions${Id}" id="ExtraDecisions${Id}" type="radio" value="4">
            {{/if}}
        </label>      
        <span class="field-validation-valid" data-valmsg-for="ExtraDecisions${Id}" data-valmsg-replace="true"></span>  
        <input type="hidden" id="extra-decision-childId" value="${ChildId}" />
        <input type="hidden" id="extra-decision-Id" value="${Id}" />            
    </div>
</script>
