<script id="friendly-childCare-template" type="text/x-jquery-tmpl">
    <h4>${Name}</h4>
    <input type="hidden" id="ChildId" value="${ChildId}" />
    <input type="hidden" id="childCareId" value="${Id}" />
    <label class="form-question">Total yearly amount during school year</label>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Father</label>
        <input data-val="true" data-val-number="The field SchoolFather must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="SchoolFather" name="SchoolFather" placeholder="Annual Amount" type="text" value="${SchoolFather}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="SchoolFather" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Mother</label>
        <input data-val="true" data-val-number="The field SchoolMother must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="SchoolMother" name="SchoolMother" placeholder="Annual Amount" type="text" value="${SchoolMother}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="SchoolMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Nonparent Custodian</label>
        <input data-val="true" data-val-number="The field SchoolNonParent must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="SchoolNonParent" name="SchoolNonParent" placeholder="Annual Amount" type="text" value="${SchoolNonParent}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="SchoolNonParent" data-valmsg-replace="true"></span>
    </div>
    <label class="form-question">Total yearly amount during Summer Break</label>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Father</label>
        <input data-val="true" data-val-number="The field BreaksFather must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="BreaksFather" name="BreaksFather" placeholder="Annual Amount" type="text" value="${BreaksFather}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="BreaksFather" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Mother</label>
        <input data-val="true" data-val-number="The field BreaksMother must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="BreaksMother" name="BreaksMother" placeholder="Annual Amount" type="text" value="${BreaksMother}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="BreaksMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Nonparent Custodian</label>
        <input data-val="true" data-val-number="The field BreaksNonParent must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="BreaksNonParent" name="BreaksNonParent" placeholder="Annual Amount" type="text" value="${BreaksNonParent}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="BreaksNonParent" data-valmsg-replace="true"></span>
    </div>
    <label class="form-question">Total yearly amount of other child care (e.g. pre-school or child with disability)</label>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Father</label>
        <input data-val="true" data-val-number="The field OtherFather must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="OtherFather" name="OtherFather" placeholder="Annual Amount" type="text" value="${OtherFather}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="OtherFather" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Mother</label>
        <input data-val="true" data-val-number="The field OtherMother must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="OtherMother" name="OtherMother" placeholder="Annual Amount" type="text" value="${OtherMother}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="OtherMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid" style="display: block;">
        <label class="span4 form-question">Nonparent Custodian</label>
        <input data-val="true" data-val-number="The field OtherNonParent must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="OtherNonParent" name="OtherNonParent" placeholder="Annual Amount" type="text" value="${OtherNonParent}" class="valid">
        <span class="field-validation-valid" data-valmsg-for="OtherNonParent" data-valmsg-replace="true"></span>
    </div>
</script>
