<script id="friendly-child-template" type="text/x-jquery-tmpl">
    <tr>
        <td class="child-name">${Name}</td>        
        <td class="child-dob">${DateOfBirth}</td>
        <td class="child-edit">
            <button class="btn-small btn-primary btn childEdit" title="Edit"><i class="icon-white icon-edit"></i></button>
            <button class="btn-small btn-primary btn childDelete" data-id="${Id}" title="Delete"><i class="icon-white icon-trash"></i></button>
            <button class="btn-small btn-primary btn childDone hide" data-id="${Id}" title="Done"><i class="icon-white icon-ok"></i>Done</button>
        </td>
        <td class="hide child-id">${Id}</td>
    </tr>
</script>