<script id="friendly-deviations-template" type="text/x-jquery-tmpl">
    <h4>${Name}</h4>
    <input type="hidden" id="ChildId" value="${ChildId}" />
    <input type="hidden" id="deviationsId" value="${Id}" />
    <h5>Specific Deviations</h5>
    <label class="informative">
        <p>
            Requested deviation amounts may be entered as a positive or negative number. For 
                negative numbers, add a minus sign "-" before the amount.
        </p>
        <p>
            Do not enter the TOTAL amount of monthly expenses; enter the requested amount 
                you want the court to consider as a deviation from the Presumptive Amount of Child Support.
        </p>
    </label>
    <div class="control-group row-fluid">
        <label class="span4 form-question">
            If you agree that the the Child Support Payment should be 
                modified on a monthly basis due to high income, enter the amount of increase to be applied to 
                the monthly Child Support Payment.</label>
        <input data-val="true" data-val-number="The field HighIncome must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="HighIncome" name="HighIncome" placeholder="Amount" type="text" value="${HighIncome}">
        <span class="field-validation-valid" data-valmsg-for="HighIncome" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Other Health Related Insurance</label>
        <input data-val="true" data-val-number="The field Health must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="Health" name="Health" placeholder="Amount" type="text" value="${Health}">
        <span class="field-validation-valid" data-valmsg-for="Health" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Life Insurance</label>
        <input data-val="true" data-val-number="The field Insurance must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="Insurance" name="Insurance" placeholder="Amount" type="text" value="${Insurance}">
        <span class="field-validation-valid" data-valmsg-for="Insurance" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Child and Dependent Care Tax Credit</label>
        <input data-val="true" data-val-number="The field TaxCredit must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="TaxCredit" name="TaxCredit" placeholder="Amount" type="text" value="${TaxCredit}">
        <span class="field-validation-valid" data-valmsg-for="TaxCredit" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Visitation Related Travel Expenses</label>
        <input data-val="true" data-val-number="The field Visitation must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="Visitation" name="Visitation" placeholder="Amount" type="text" value="${Visitation}">
        <span class="field-validation-valid" data-valmsg-for="Visitation" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Alimony PAID</label>
        <input data-val="true" data-val-number="The field Alimony must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="AlimonyPaid" name="AlimonyPaid" placeholder="Amount" type="text" value="${AlimonyPaid}">
        <span class="field-validation-valid" data-valmsg-for="AlimonyPaid" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Mortgage (if non-custodial parent is providing cost of home where child resides)</label>
        <input data-val="true" data-val-number="The field Mortgage must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="Mortgage" name="Mortgage" placeholder="Amount" type="text" value="${Mortgage}">
        <span class="field-validation-valid" data-valmsg-for="Mortgage" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="span4 form-question">Permanency Plan or Foster Care Plan</label>
        <input data-val="true" data-val-number="The field Permanency must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="Permanency" name="Permanency" placeholder="Amount" type="text" value="${Permanency}">
        <span class="field-validation-valid" data-valmsg-for="Permanency" data-valmsg-replace="true"></span>
    </div>
</script>
