<script id="friendly-support-template" type="text/x-jquery-tmpl">
    <tr>
        <td>${CourtName}</td>
        <td>${CaseNumber}</td>
        <td>${OrderDate}</td>
        <td>$${Monthly}</td>
        <td><a data-id="${Id}" class="view-children" href="#">Children</a></td>
    </tr>                                        
</script>