<script id="friendly-extraHolidays-template" type="text/x-jquery-tmpl">
    <div class="control-group row-fluid extra-holiday-item holiday-parent">
        <div class="span2 extra-holiday-name">${HolidayName}</div>
        <div class="span5">
            {{if HolidayFather===1}}            
            <label class="radio inline">
                Odd
                <input checked="checked" class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}"  name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="4"></label>            
            {{else HolidayFather===2}}            
            <label class="radio inline">
                Odd
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input checked="checked" class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="4"></label>            
            {{else HolidayFather===3}}            
            <label class="radio inline">
                Odd
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input checked="checked" class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="4"></label>            
            {{else}}
            <label class="radio inline">
                Odd
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input checked="checked" class="inline extra-holiday-father" data-val="true" data-val-number="The field must be a number." id="HolidayFather${Id}" name="HolidayFather${Id}" data-val-required="The field is required." type="radio" value="4"></label>
            {{/if}}
            <span class="field-validation-valid" data-valmsg-for="HolidayFather${Id}" data-valmsg-replace="true"></span>
        </div>
        <div class="span5">
            {{if HolidayMother===1}}
            <label class="radio inline">
                Odd
                <input checked="checked" class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="4"></label>
            {{else HolidayMother===2}}
            <label class="radio inline">
                Odd
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input checked="checked" class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="4"></label>
            {{else HolidayMother===3}}
            <label class="radio inline">
                Odd
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input checked="checked" class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="4"></label>
            {{else}}
            <label class="radio inline">
                Odd
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="1"></label>
            <label class="radio inline">
                Even
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="2"></label>
            <label class="radio inline">
                Every
                <input class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="3"></label>
            <label class="radio inline">
                Never
                <input checked="checked" class="inline extra-holiday-mother" data-val="true" data-val-number="The field must be a number." id="HolidayMother${Id}" name="HolidayMother${Id}" data-val-required="The field is required." type="radio" value="4"></label>
            {{/if}}
            <span class="field-validation-valid" data-valmsg-for="HolidayMother${Id}" data-valmsg-replace="true"></span>
        </div>
        <input type="hidden" id="extra-holiday-childId" value="${ChildId}" />
        <input type="hidden" id="extra-holiday-Id" value="${Id}" />
    </div>
</script>
