<script id="friendly-deviations-template" type="text/x-jquery-tmpl">
    <h4>${Name}</h4>
    <input type="hidden" id="ChildId" value="${ChildId}" />
    <input type="hidden" id="deviationsId" value="${Id}" />
    <h5>Specific Deviations</h5>
    <label class="informative">
        <p>
            Requested deviation amounts may be entered as a positive or negative number. For 
            negative numbers, add a minus sign "-" before the amount.
        </p>
        <p>
            Do not enter the TOTAL amount of monthly expenses; enter the requested amount 
            you want the court to consider as a deviation from the Presumptive Amount of Child Support.
        </p>
    </label>
    <div class="control-group row-fluid">
        <label class="form-question">Other Health Related Insurance</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="HealthFather" name="HealthFather" placeholder="Amount" type="text" value="${HealthFather}">
        <span class="field-validation-valid" data-valmsg-for="HealthFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="HealthMother" name="HealthMother" placeholder="Amount" type="text" value="${HealthMother}">
        <span class="field-validation-valid" data-valmsg-for="HealthMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="form-question">Life Insurance</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="InsuranceFather" name="InsuranceFather" placeholder="Amount" type="text" value="${InsuranceFather}">
        <span class="field-validation-valid" data-valmsg-for="InsuranceFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="InsuranceMother" name="InsuranceMother" placeholder="Amount" type="text" value="${InsuranceMother}">
        <span class="field-validation-valid" data-valmsg-for="InsuranceMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="form-question">Child and Dependent Care Tax Credit</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="TaxCreditFather" name="TaxCreditFather" placeholder="Amount" type="text" value="${TaxCreditFather}">
        <span class="field-validation-valid" data-valmsg-for="TaxCreditFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="TaxCreditMother" name="TaxCreditMother" placeholder="Amount" type="text" value="${TaxCreditMother}">
        <span class="field-validation-valid" data-valmsg-for="TaxCreditMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="form-question">Visitation Related Travel Expenses</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="VisitationFather" name="VisitationFather" placeholder="Amount" type="text" value="${VisitationFather}">
        <span class="field-validation-valid" data-valmsg-for="VisitationFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="VisitationMother" name="VisitationMother" placeholder="Amount" type="text" value="${VisitationMother}">
        <span class="field-validation-valid" data-valmsg-for="VisitationMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="form-question">Alimony PAID</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="AlimonyPaidFather" name="AlimonyPaidFather" placeholder="Amount" type="text" value="${AlimonyPaidFather}">
        <span class="field-validation-valid" data-valmsg-for="AlimonyPaidFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="AlimonyPaidMother" name="AlimonyPaidMother" placeholder="Amount" type="text" value="${AlimonyPaidMother}">
        <span class="field-validation-valid" data-valmsg-for="AlimonyPaidMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="form-question">Mortgage (if non-custodial parent is providing cost of home where child resides)</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="MortgageFather" name="MortgageFather" placeholder="Amount" type="text" value="${MortgageFather}">
        <span class="field-validation-valid" data-valmsg-for="MortgageFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="MortgageMother" name="MortgageMother" placeholder="Amount" type="text" value="${MortgageMother}">
        <span class="field-validation-valid" data-valmsg-for="MortgageMother" data-valmsg-replace="true"></span>
    </div>
    <div class="control-group row-fluid">
        <label class="form-question">Permanency Plan or Foster Care Plan</label>
        <label class="span2 form-question">Father</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="PermanencyFather" name="PermanencyFather" placeholder="Amount" type="text" value="${PermanencyFather}">
        <span class="field-validation-valid" data-valmsg-for="PermanencyFather" data-valmsg-replace="true"></span><br/>
        <label class="span2 form-question">Mother</label>        
        <input data-val="true" data-val-number="The field must be a number." data-val-regex="Amount must be a number" data-val-regex-pattern="^[0-9]*$" id="PermanencyMother" name="PermanencyMother" placeholder="Amount" type="text" value="${PermanencyMother}">
        <span class="field-validation-valid" data-valmsg-for="PermanencyMother" data-valmsg-replace="true"></span>
    </div>
</script>
