<script id="friendly-child-template" type="text/x-jquery-tmpl">
    <tr>
        <td class="child-name">${Name}</td>        
        <td class="child-dob">${DateOfBirth}</td>
        <td class="hide child-id">${Id}</td>
    </tr>
</script>