<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <div class="row" ng-controller="VehicleCtrl">
        <div class="col-md-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Vehicles</h5>
                </div>
                <div class="widget-content">
                    <div class="row" ng-show="vehicles.length>0" style="display: block;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Manufacturer</th>
                                    <th>Model</th>
                                    <th>Year</th>
                                    <th>Owner</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicleAdded in vehicles">
                                    <td ng-show="!(editing && editVehicleId==vehicleAdded.Id)">{{vehicleAdded.Make}}</td>
                                    <td ng-show="!(editing  && editVehicleId==vehicleAdded.Id)">{{vehicleAdded.Model}}</td>
                                    <td ng-show="!(editing && editVehicleId==vehicleAdded.Id)">{{vehicleAdded.Year}}</td>
                                    <td ng-show="!(editing  && editVehicleId==vehicleAdded.Id)">{{vehicleAdded.Owner}}</td>
                                    <td ng-show="editing  && editVehicleId==vehicleAdded.Id">
                                        <div class="col-lg-4"><input class="form-control" type="text" ng-model="vehicleAdded.Make" /></td>
                                    <td ng-show="editing  && editVehicleId==vehicleAdded.Id">
                                        <div class="col-lg-4"><input class="form-control" type="text" ng-model="vehicleAdded.Model" /></td>
                                    <td ng-show="editing  && editVehicleId==vehicleAdded.Id">
                                        <div class="col-lg-4"><input class="form-control" type="text" ng-model="vehicleAdded.Year" /></td>
                                    <td ng-show="editing  && editVehicleId==vehicleAdded.Id">
                                        <div class="col-lg-4"><input class="form-control" type="text" ng-model="vehicleAdded.Owner" /></td>
                                    <td>
                                        <button class="btn btn-default btn-default-small btn-primary btn" ng-show="!(editing && editVehicleId==vehicleAdded.Id)" title="Edit" ng-click="editVehicle(vehicleAdded)"><i class="icon-white icon-edit"></i></button>
                                        <button class="btn btn-default btn-default-small btn-primary btn" ng-show="!(editing && editVehicleId==vehicleAdded.Id)" title="Delete" ng-click="deleteVehicle(vehicleAdded)"><i class="icon-white icon-trash"></i></button>
                                        <button class="btn btn-default btn-default-small btn-primary btn" ng-show="editing && editVehicleId==vehicleAdded.Id" title="Done" ng-click="doneEdit(vehicleAdded)"><i class="icon-white icon-ok"></i>Done</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form id="vehicleForm" name="vehicleForm" novalidate>
                        <div class="form-group row">
                            <label class="form-question col-lg-12">Is the ownership of any vehicle(s) at issue in this case?</label>
                            <div class="col-lg-12">
                                <label class="radio-inline">Yes<input class="inline" ng-change="submit()" required ng-model="vehicleForm.VehiclesInvolved" name="VehiclesInvolved" type="radio" value="1"></label>
                                <label class="radio-inline">No<input class="inline" ng-change="submit()" required ng-model="vehicleForm.VehiclesInvolved" name="VehiclesInvolved" type="radio" value="2"></label>
                                <div ng-show="vehicleForm.VehiclesInvolved.$dirty && vehicleForm.VehiclesInvolved.$invalid || (showErrors && vehicleForm.VehiclesInvolved.$invalid)">
                                    <span class="form-error" ng-show="vehicleForm.VehiclesInvolved.$error.required">Please select an option</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form ng-submit="addVehicle()" id="addVehicleForm" ng-show="vehicleForm.VehiclesInvolved == 1" name="addVehicleForm" novalidate>
                        <div class="form-group row">
                            <label class="informative">
                                List each vehicle under consideration in this agreement.
                            </label>
                            <label class="form-question col-lg-12">Manufacturer</label>
                            <div class="col-lg-4">
                                <div class="col-lg-4"><input class="form-control" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="vehicle.Make" name="Make" placeholder="Manufacturer" type="text" value=""></div>
                            </div>
                            <div ng-show="addVehicleForm.Make.$dirty && addVehicleForm.Make.$invalid || (showErrors && addVehicleForm.Make.$invalid)">
                                <span class="form-error" ng-show="addVehicleForm.Make.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                <span class="form-error" ng-show="addVehicleForm.Make.$error.required">The field is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-question col-lg-12">Model</label>
                            <div class="col-lg-4">
                                <div class="col-lg-4"><input class="form-control" ng-model="vehicle.Model" name="Model" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Model" type="text" value=""></div>
                            </div>
                            <div ng-show="addVehicleForm.Model.$dirty && addVehicleForm.Model.$invalid || (showErrors && addVehicleForm.Model.$invalid)">
                                <span class="form-error" ng-show="addVehicleForm.VehicleModel.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                <span class="form-error" ng-show="addVehicleForm.VehicleModel.$error.required">The field is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-question col-lg-12">Year</label>
                            <div class="col-lg-4">
                                <div class="col-lg-4"><input class="form-control" ng-pattern="/^[0-9]{4}$/" ng-model="vehicle.Year" name="Year" placeholder="Year" type="text" value=""></div>
                            </div>
                            <div ng-show="addVehicleForm.Year.$dirty && addVehicleForm.Year.$invalid || (showErrors && addVehicleForm.Year.$invalid)">
                                <span class="form-error" ng-show="addVehicleForm.Year.$error.number">This field must be a number.</span>
                                <span class="form-error" ng-show="addVehicleForm.Year.$error.required">The field is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-question col-lg-12">Who will have possession of the vehicle</label>
                            <div class="col-lg-4">
                                <div class="col-lg-4"><input class="form-control" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="vehicle.Owner" name="Owner" placeholder="Owner" type="text" value=""></div>
                            </div>
                            <div ng-show="addVehicleForm.Owner.$dirty && addVehicleForm.Owner.$invalid || (showErrors && addVehicleForm.Owner.$invalid)">
                                <span class="form-error" ng-show="addVehicleForm.Owner.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                <span class="form-error" ng-show="addVehicleForm.Owner.$error.required">The field is required</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-question col-lg-12">Will this vehicle be refinanced?</label>
                            <div class="col-lg-12">
                                <div class="radio">
                                    <label>
                                        Yes
                                <input ng-model="vehicle.Refinanced" name="Refinanced" type="radio" value="1"></label>
                                </div>
                                <div class="radio">
                                    <label>
                                        No
                                <input ng-model="vehicle.Refinanced" name="Refinanced" type="radio" value="2"></label>
                                </div>
                                <div ng-show="addVehicleForm.Refinanced.$dirty && addVehicleForm.Refinanced.$invalid || (showErrors && addVehicleForm.Refinanced.$invalid)">
                                    <span class="form-error" ng-show="addVehicleForm.Refinanced.$error.required">The field is required</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="vehicle.Refinanced == 1">
                            <div class="form-group row">
                                <label class="form-question col-lg-12">In whose name will the vehicle be refinanced?</label>
                                <select ng-model="vehicle.Name" name="Name" ng-options="custodian for custodian in custodianNames">
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-lg-12">By what date will the vehicle be refinanced?</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-4"><input class="form-control" ui-jq="datepicker" ng-pattern="/^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$/" ng-model="vehicle.RefinanceDate" name="RefinanceDate" placeholder="MM/DD/YYYY" type="text" value=""></div>
                                </div>
                                <div ng-show="addVehicleForm.RefinanceDate.$dirty && addVehicleForm.RefinanceDate.$invalid || (showErrors && addVehicleForm.RefinanceDate.$invalid)">
                                    <span class="form-error" ng-show="addVehicleForm.RefinanceDate.$error.pattern">Date must be in mm/dd/yyyy format.</span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default btn-primary" style="margin-bottom: 15px; display: inline-block;" value="Add">Add </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-default btn-default btn-primary" ng-click="continue()">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>
