<div class="form-vertical wrapper">
    <form ng-submit="submit()" ng-controller="CreateClientCtrl" id="createClientForm" name="createClientForm" novalidate>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Create a Client</h5>
                    </div>
                    <div class="widget-content">
                        <label class="informative">
                            Provide the client's court case number below.               
                        </label>
                        <div class="control-group">
                            <input ui-jq="popover" data-content="Your case number can be found XXXX." name="CaseNumber" ng-model="court.CaseNumber" ng-pattern="/^[0-9a-zA-Z\s-]*$/" placeholder="Case Number*" type="text" value="" required>
                            <div ng-show="createClientForm.CaseNumber.$dirty && createClientForm.CaseNumber.$invalid || (showErrors && createClientForm.CaseNumber.$invalid)">
                                <span class="form-error" ng-show="createClientForm.CaseNumber.$error.required">Case Number is required</span>
                                <span class="form-error" ng-show="createClientForm.CaseNumber.$error.pattern">Case Number may only contain numbers, letters and dashes.</span>
                            </div>
                        </div>
                        <label class="informative">
                            Provide the client name below.
                        </label>
                        <div class="control-group">
                            <input name="DisplayName" required ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="user.DisplayName" placeholder="Name*" type="text" value="">
                            <div ng-show="createClientForm.DisplayName.$dirty && createClientForm.DisplayName.$invalid">
                                <span class="form-error" ng-show="createClientForm.DisplayName.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                <span class="form-error" ng-show="createClientForm.DisplayName.$error.required">This field is required.</span>
                            </div>
                        </div>
                        <label class="informative">
                            The client will need an "ourlawfirm.com" email address to log in to their form. The email address you create below will only be used for Split Solutions log in privileges.               
                        </label>
                        <div class="control-group">
                            <input name="Email" required ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="user.Email" placeholder="Email*" type="text" value=""><span style="color: #aaa">@ourlawfirm.com</span>
                            <div ng-show="createClientForm.Email.$dirty && createClientForm.Email.$invalid">
                                <span class="form-error" ng-show="createClientForm.Email.$error.pattern">This field may only contain numbers, letters and dashes.</span>
                                <span class="form-error" ng-show="createClientForm.Email.$error.required">This field is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <input name="Password" required ng-model="user.Password" ng-minlength="6" placeholder="Password*" type="password">
                            <div ng-show="createClientForm.Password.$dirty && createClientForm.Password.$invalid">
                                <span class="form-error" ng-show="createClientForm.Password.$error.minlength">Password must be at least than 6 characters.</span>
                                <span class="form-error" ng-show="createClientForm.Password.$error.required">This field is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <input name="ConfirmPassword" required ng-model="user.ConfirmPassword" placeholder="Confirm Password*" type="password">
                            <div ng-show="createClientForm.ConfirmPassword.$dirty && createClientForm.ConfirmPassword.$invalid">
                                <span class="form-error" ng-show="createClientForm.ConfirmPassword.$error.minlength">Password must be at least than 6 characters.</span>
                                <span class="form-error" ng-show="createClientForm.ConfirmPassword.$error.required">This field is required.</span>
                            </div>
                        </div>
                        <label class="informative">
                            Provide the client's home or work email address below.               
                        </label>
                        <div class="control-group">
                            <input name="PrimaryEmail" required ng-model="user.PrimaryEmail" placeholder="Email*" type="email" value="">
                            <div ng-show="createClientForm.PrimaryEmail.$dirty && createClientForm.PrimaryEmail.$invalid">
                                <span class="form-error" ng-show="createClientForm.PrimaryEmail.$error.email">Not a valid e-mail address.</span>
                                <span class="form-error" ng-show="createClientForm.PrimaryEmail.$error.required">This field is required.</span>
                            </div>
                        </div>
                        <button class="btn btn-primary" ng-click="submit()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
