<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SplitContext" connectionString="Data Source=SALSAHOUSE1.ASUSCOMM.COM\MANICHODEV;encrypt=true;trustServerCertificate=true;Trusted_Connection=False;user id=manuelnelson;password=ManitoRamez24;Initial Catalog=SplitContextAngular;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="SplitContext" connectionString="Data Source=zgh5kht156.database.windows.net;encrypt=true;trustServerCertificate=true;Trusted_Connection=False;user id=splitAdmin;password=fgXC4CfR~6y)u$;Initial Catalog=splitDb;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmartPaymentsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SmartPaymentsSoap1" />
        <binding name="RecurringSoap" >
          <security mode="Transport"></security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SmartPaymentsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="RecurringSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://depot.payment-gate.net/ws/transact.asmx"
        binding="basicHttpBinding" bindingConfiguration="SmartPaymentsSoap"
        contract="Transaction.SmartPaymentsSoap" name="SmartPaymentsSoap" />
      <endpoint address="https://depot.payment-gate.net/ws/transact.asmx"
        binding="customBinding" bindingConfiguration="SmartPaymentsSoap12"
        contract="Transaction.SmartPaymentsSoap" name="SmartPaymentsSoap12" />
      <endpoint address="https://depot.payment-gate.net/paygate/ws/recurring.asmx"
        binding="basicHttpBinding" bindingConfiguration="RecurringSoap"
        contract="Recurring.RecurringSoap" name="RecurringSoap" />
      <endpoint address="https://depot.payment-gate.net/paygate/ws/recurring.asmx"
        binding="customBinding" bindingConfiguration="RecurringSoap12"
        contract="Recurring.RecurringSoap" name="RecurringSoap12" />
    </client>
  </system.serviceModel>

</configuration>