<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <form ng-submit="submit()" id="supportForm" name="supportForm" novalidate>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Preexisting Child Support</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group row-fluid">
                            <label class="form-question">
                                Do you make Current Court Ordered Child Support Payments for other children?</label>
                            <label class="radio inline">Yes<input class="inline" ng-change="submit()" ng-model="support.Support" name="Support" type="radio" value="1"></label>
                            <label class="radio inline">No<input class="inline" ng-model="support.Support" ng-change="submit()" name="Support" type="radio" value="2"></label>
                            <div ng-show="supportForm.Support.$dirty && supportForm.Support.$invalid || showErrors">
                                <span class="form-error" ng-show="showErrors">This field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-vertical" ng-show="support.Support == 1">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Preexisting Child Support</h5>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid" ng-show="courts.length > 0 && !showAddChild">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Court Name</th>
                                        <th>Case Number</th>
                                        <th>Date</th>
                                        <th>Monthly Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="courtAdded in courts">
                                        <td>
                                            <button class="btn btn-primary" ng-click="showChildren(courtAdded)">Children</button>                                            
                                        </td>
                                        <td ng-show="!(courtEditing && editCourtId==courtAdded.Id)">{{courtAdded.CourtName}}</td>
                                        <td ng-show="!(courtEditing && editCourtId==courtAdded.Id)">{{courtAdded.CaseNumber}}</td>
                                        <td ng-show="!(courtEditing && editCourtId==courtAdded.Id)">{{courtAdded.OrderDate | date:'MM/dd/yyyy'}}</td>
                                        <td ng-show="!(courtEditing && editCourtId==courtAdded.Id)">${{courtAdded.Monthly}}</td>
                                        <td ng-show="courtEditing  && editCourtId==courtAdded.Id">
                                            <input type="text" ng-model="courtAdded.CourtName" /></td>
                                        <td ng-show="courtEditing  && editCourtId==courtAdded.Id">
                                            <input type="text" ng-model="courtAdded.CaseNumber" /></td>
                                        <td ng-show="courtEditing  && editCourtId==courtAdded.Id">
                                            <input ui-jq="datepicker" data-date="{{courtAdded.OrderDate | date:'MM/dd/yyyy'}}" ng-pattern="/^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$/" ng-model="courtAdded.OrderDate" name="OrderDate" placeholder="MM/DD/YYYY" type="text" value="{{courtAdded.OrderDate | date:'MM/dd/yyyy'}}">
                                        <td ng-show="courtEditing  && editCourtId==courtAdded.Id">
                                            <input type="text" ng-model="courtAdded.Monthly" /></td>
                                        <td>
                                            <button class="btn-small btn-primary btn" ng-show="!(courtEditing && editCourtId==courtAdded.Id)" title="Edit" ng-click="editCourt(courtAdded)"><i class="icon-white icon-edit"></i></button>
                                            <button class="btn-small btn-primary btn" ng-show="!(courtEditing && editCourtId==courtAdded.Id)" title="Delete" ng-click="deleteCourt(courtAdded)"><i class="icon-white icon-trash"></i></button>
                                            <button class="btn-small btn-primary btn" ng-show="courtEditing && editCourtId==courtAdded.Id" title="Done" ng-click="doneCourtEdit(courtAdded)"><i class="icon-white icon-ok"></i>Done</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row-fluid" ng-show="children.length > 0 && showAddChild">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="childAdded in children">
                                        <td ng-show="!(editing && editChildId==childAdded.Id)">{{childAdded.Name}}</td>
                                        <td ng-show="!(editing  && editChildId==childAdded.Id)">{{childAdded.DateOfBirth | date:'MM/dd/yyyy'}}</td>
                                        <td ng-show="editing  && editChildId==childAdded.Id">
                                            <input type="text" ng-model="childAdded.Name" /></td>
                                        <td ng-show="editing && editChildId==childAdded.Id">
                                            <input ui-jq="datepicker" data-date="{{childAdded.DateOfBirth | date:'MM/dd/yyyy'}}" ng-pattern="/^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$/" ng-model="childAdded.DateOfBirth" name="DateOfBirth" placeholder="MM/DD/YYYY" type="text" value="{{childAdded.DateOfBirth | date:'MM/dd/yyyy'}}">
                                        </td>
                                        <td>
                                            <button class="btn-small btn-primary btn" ng-show="!(editing && editChildId==childAdded.Id)" title="Edit" ng-click="editChild(childAdded)"><i class="icon-white icon-edit"></i></button>
                                            <button class="btn-small btn-primary btn" ng-show="!(editing && editChildId==childAdded.Id)" title="Delete" ng-click="deleteChild(childAdded)"><i class="icon-white icon-trash"></i></button>
                                            <button class="btn-small btn-primary btn" ng-show="editing && editChildId==childAdded.Id" title="Done" ng-click="doneEdit(childAdded)"><i class="icon-white icon-ok"></i>Done</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <form ng-submit="addCourt()" ng-show="!showAddChild" id="courtForm" name="courtForm" novalidate>
                            <div class="control-group row-fluid">
                                <label class="span4 form-question form-question">Court Name</label>
                                <input ng-model="court.CourtName" name="court.CourtName" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Court Name" type="text" value="">
                                <div ng-show="courtForm.CourtName.$dirty && courtForm.CourtName.$invalid">
                                    <span class="form-error" ng-show="courtForm.CourtName.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                            <div class="control-group row-fluid">
                                <label class="span4 form-question">Civil Action Case Number</label>
                                <input ng-model="court.CaseNumber" name="court.CaseNumber" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" placeholder="Case Number" type="text" value="">
                                <div ng-show="courtForm.CaseNumber.$dirty && courtForm.CaseNumber.$invalid">
                                    <span class="form-error" ng-show="courtForm.CaseNumber.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                            <div class="control-group row-fluid">
                                <label class="span4 form-question">Date of initial child support order</label>
                                <input ng-model="court.OrderDate" name="court.OrderDate" ui-jq="datepicker" data-date="08/17/2013" data-val-regex="Date must be in mm/dd/yyyy format" ng-pattern="/^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$/" placeholder="Date" type="text" value="">
                                <div ng-show="courtForm.OrderDate.$dirty && courtForm.OrderDate.$invalid">
                                    <span class="form-error" ng-show="courtForm.OrderDate.$error.pattern">Date must be in mm/dd/yyyy format.</span>
                                </div>
                            </div>
                            <div class="control-group row-fluid">
                                <label class="span4 form-question">Actual amount paid monthly for this order (do not include past due payment)</label>
                                <input ng-pattern="/^[0-9]*$/" ng-model="court.Monthly" name="court.Monthly" placeholder="Per Month" type="text" value="">
                                <div ng-show="courtForm.Monthly.$dirty && courtForm.Monthly.$invalid">
                                    <span class="form-error" ng-show="courtForm.Monthly.$error.pattern">This field must be a number.</span>
                                </div>
                            </div>
                            <label class="informative">After clicking the "Add" button below, you must go to the Preexisting Child Support case just created, and click on the "Add Children" button to enter the names of children associated with that Preexisting Child Support case.</label>
                            <button class="btn btn-primary" value="Add">Add </button>
                        </form>
                        <div ng-show="showAddChild">
                            <form ng-submit="addChild()" id="childForm" name="childForm" novalidate>
                                <h5 style="margin-bottom: 10px">Add children to Child Support</h5>
                                <div class="control-group row-fluid">
                                    <label class="span4 form-question">Name</label>
                                    <input class="hoverHelp" data-content="Enter the child's full name here." ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" required ng-model="child.Name" name="child.Name" placeholder="Name" type="text" value="" data-original-title="">
                                    <div ng-show="childForm.Name.$dirty && childForm.Name.$invalid">
                                        <span class="form-error" ng-show="childForm.Name.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                    </div>
                                </div>
                                <div class="control-group row-fluid">
                                    <label class="span4 form-question">Date of Birth</label>
                                    <input ui-jq="datepicker" ng-pattern="/^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$/" ng-model="child.DateOfBirth" name="child.DateOfBirth" placeholder="MM/DD/YYYY" type="text" value="">
                                    <div ng-show="childForm.DateOfBirth.$dirty && childForm.DateOfBirth.$invalid">
                                        <span class="form-error" ng-show="childForm.DateOfBirth.$error.pattern">Date must be in mm/dd/yyyy format.</span>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-primary" ng-click="addChild()" value="Add">Add </button>
                            <button class="btn btn-primary" ng-show="children.length > 0" ng-click="hideAddChild()" value="Done">Done </button>
                            <button class="btn btn-primary" ng-show="children.length === 0" ng-click="hideAddChild()" value="Cancel">Cancel </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="continue()">Continue <i class="icon-arrow-right icon-white"></i></button>
</div>
