<div class="row">
    <div class="col-lg-6">
        <form class="well form-vertical" name="paymentForm">
            <fieldset>
                <legend>Payment</legend>
                <div class="form-group row">
                    <label class="col-lg-12">
                        Please enter your billing information.
                    </label>
                    <div class="col-lg-8">
                        <input class="form-control" name="FullName" required ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="payment.FullName" placeholder="Full Name*" type="text" value="">
                    </div>
                    <div ng-show="paymentForm.FullName.$dirty && paymentForm.FullName.$invalid">
                        <span class="form-error" ng-show="paymentForm.FullName.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                        <span class="form-error" ng-show="paymentForm.FullName.$error.required">This field is required.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-8">
                        <input class="form-control" name="CardNum" required ng-pattern="/^[0-9/s]*$/" ng-model="payment.CardNum" placeholder="Card Number*" type="text" value="">
                    </div>
                    <div ng-show="paymentForm.CardNum.$dirty && paymentForm.CardNum.$invalid">
                        <span class="form-error" ng-show="paymentForm.CardNum.$error.pattern">Only numbers allowed.</span>
                        <span class="form-error" ng-show="paymentForm.CardNum.$error.required">This field is required.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <input class="form-control" required name="ExpMonth" ng-pattern="/^[0-9]{1,2}$/" ng-model="payment.ExpMonth" placeholder="Exp. Month (MM)*" type="text" value="">
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" required name="ExpYear" ng-pattern="/^[0-9]{1,2}$/" ng-model="payment.ExpYear" placeholder="Exp. Year (YY)*" type="text" value="">
                    </div>
                    <div ng-show="paymentForm.ExpMonth.$dirty && paymentForm.ExpMonth.$invalid">
                        <span class="form-error" ng-show="paymentForm.ExpMonth.$error.pattern">Only numbers allowed.</span>
                        <span class="form-error" ng-show="paymentForm.ExpMonth.$error.required">This field is required.</span>
                    </div>
                    <div ng-show="paymentForm.ExpYear.$dirty && paymentForm.ExpYear.$invalid">
                        <span class="form-error" ng-show="paymentForm.ExpYear.$error.pattern">Must be in YY format i.e. 2018 = 18</span>
                        <span class="form-error" ng-show="paymentForm.ExpYear.$error.required">This field is required.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-8">
                        <input class="form-control" required name="ZipCode" ng-pattern="/^[0-9/s]*$/" ng-model="payment.ZipCode" placeholder="Zip Code*" type="text" value="">
                    </div>
                    <div ng-show="paymentForm.ZipCode.$dirty && paymentForm.ZipCode.$invalid">
                        <span class="form-error" ng-show="paymentForm.ZipCode.$error.pattern">Only numbers allowed.</span>
                        <span class="form-error" ng-show="paymentForm.ZipCode.$error.required">This field is required.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-8">
                        <input class="form-control" required name="ZipCode" ng-pattern="/^[0-9/s]*$/" ng-model="payment.ZipCode" placeholder="Zip Code*" type="text" value="">
                    </div>
                    <div ng-show="paymentForm.ZipCode.$dirty && paymentForm.ZipCode.$invalid">
                        <span class="form-error" ng-show="paymentForm.ZipCode.$error.pattern">Only numbers allowed.</span>
                        <span class="form-error" ng-show="paymentForm.ZipCode.$error.required">This field is required.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-8">
                        <input type="submit" id="submit" ng-click="submit()" class="btn btn-default btn-primary" value="Submit Payment">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
