<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- Append below entry to configSections. Do not overwrite the full section. -->
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SplitContext" connectionString="Data Source=SALSAHOUSE1.ASUSCOMM.COM\MANICHODEV;encrypt=true;trustServerCertificate=true;Trusted_Connection=False;user id=manuelnelson;password=ManitoRamez24;Initial Catalog=SplitContext;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="SplitContext" connectionString="Data Source=SALSAHOUSE1.ASUSCOMM.COM\MANICHODEV;encrypt=true;trustServerCertificate=true;Trusted_Connection=False;user id=manuelnelson;password=ManitoRamez24;Initial Catalog=SplitContextAngular;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="SplitContext" connectionString="Data Source=zgh5kht156.database.windows.net;encrypt=true;trustServerCertificate=true;Trusted_Connection=False;user id=splitAdmin;password=fgXC4CfR~6y)u$;Initial Catalog=splitDb;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DisableMiniProfiler" value="true" />
    <add key="AdminUserNames" value="elnels@gmail.com" />
    <add key="FullDomain" value="http://www.splitsolutions.com/" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  
  <!-- Required for MONO --><system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <!-- Windows Azure Caching session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Caching output caching provider -->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    
  <httpHandlers>
    <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
  </httpHandlers></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-101.0.0.0" newVersion="101.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <errorLog type="FriendlyForms.TableErrorLog, FriendlyForms" connectionString="DefaultEndpointsProtocol=https;AccountName=splitsolutions;AccountKey=deMxVNH2hjwIJsEgZs2R2fbv3uvbbKFy0R/pxDcrmgh58yUutrGAE5HTCgs/mcC1fWnUjIg3Zp9rinyNLczyBQ==" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  
  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="splitsolutions.cache.windows.net" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vc3BsaXRzb2x1dGlvbnMtY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC9XUkFQdjAuOS8mb3duZXImRXU3d1piTFliNzhzR3BreEJGVXhmNWIwOWYzallhcVdlM0xJTXo4QUozdz0maHR0cDovL3NwbGl0c29sdXRpb25zLmNhY2hlLndpbmRvd3MubmV0" />
      </securityProperties>
    </dataCacheClient>
    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="splitsolutions.cache.windows.net" cachePort="22243" />
      </hosts>
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vc3BsaXRzb2x1dGlvbnMtY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC9XUkFQdjAuOS8mb3duZXImRXU3d1piTFliNzhzR3BreEJGVXhmNWIwOWYzallhcVdlM0xJTXo4QUozdz0maHR0cDovL3NwbGl0c29sdXRpb25zLmNhY2hlLndpbmRvd3MubmV0" />
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
<location path="api">
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>

  <!-- Required for IIS 7.0 -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
</location><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CardSafeSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CardSafeSoap1" />
        <binding name="SmartPaymentsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SmartPaymentsSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CardSafeSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="SmartPaymentsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://depot.payment-gate.net/ws/cardsafe.asmx"
        binding="basicHttpBinding" bindingConfiguration="CardSafeSoap"
        contract="CardSafe.CardSafeSoap" name="CardSafeSoap" />
      <endpoint address="https://depot.payment-gate.net/ws/cardsafe.asmx"
        binding="customBinding" bindingConfiguration="CardSafeSoap12"
        contract="CardSafe.CardSafeSoap" name="CardSafeSoap12" />
      <endpoint address="https://pmn.payment-gate.net/ws/transact.asmx"
        binding="basicHttpBinding" bindingConfiguration="SmartPaymentsSoap"
        contract="Transaction.SmartPaymentsSoap" name="SmartPaymentsSoap" />
      <endpoint address="https://pmn.payment-gate.net/ws/transact.asmx"
        binding="customBinding" bindingConfiguration="SmartPaymentsSoap12"
        contract="Transaction.SmartPaymentsSoap" name="SmartPaymentsSoap12" />
    </client>
  </system.serviceModel>
</configuration>