<div class="form-vertical wrapper">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Client Cases</h5>
                </div>
                <div class="widget-content">
                    <div class="row-fluid">
                        <button class="btn btn-primary pull-left">Add a New Case</button>
                        <button class="btn btn-primary pull-right">View Archived Cases</button>
                    </div>
                    <div class="row-fluid">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Civil Case No.</th>
                                    <th>Attorney</th>
                                    <th>Form Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="case in cases">
                                    <td><button class="btn btn-primary" ng-click="openCase(case)">Open</button></td>
                                    <td>{{case.Name}}</td>
                                    <td>{{case.Number}}</td>
                                    <td>{{case.Attorney}}</td>
                                    <td>{{case.Date}}</td>
                                    <td><button class="btn btn-primary" ng-click="archive(case)">Archive</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" value="Close">Close</button>
</div>
