<div class="form-vertical wrapper">
    <p>
        Please enter your user name and password. 
    </p>
    <div class="row-fluid">
        <form class="well form-vertical" ng-submit="submit()" ng-controller="LoginCtrl" action="/api/auth/credentials" data-continue="/">
            <fieldset>
                <legend>Account Information</legend>
                <div class="control-group">
                    <input id="UserName" name="UserName" ng-model="login.UserName" placeholder="Email" type="text" value="">
                </div>
                <div class="control-group">
                    <input id="Password" name="Password" ng-model="login.Password" placeholder="Password" type="password">
                </div>
                <input type="submit" id="submit" class="btn btn-primary" value="Log In">
                <p style="margin-top: 10px;"><a href="/Account/Register">Register</a> if you don't have an account.</p>
            </fieldset>
        </form>
    </div>
</div>
