<div class="form-vertical wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-signal"></i></span>
                    <h5>Client Cases</h5>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <a href="/#/Attorney/CreateClient/Attorney/{{userId}}" class="btn btn-default btn-primary pull-left">Add a New Client</a>
                        <button class="btn btn-default btn-primary pull-right">View Archived Cases</button>
                    </div><br/>
                    <div class="row">
                        <div ng-show="clients.length==0">
                            <h5>No Clients Here :(</h5>
                            <p>Create a client case by clicking the 'Add a New Client' button above.</p>
                        </div>
                        <table class="table table-bordered table-striped table-hover" ng-show="clients.length>0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Civil Case No.</th>
                                    <th>Form Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="client in clients">
                                    <td><button class="btn btn-default btn-primary" ng-click="openClient(client)">Open</button></td>
                                    <td>{{client.Name}}</td>
                                    <td>{{client.CaseNumber}}</td>
                                    <td>{{client.CreatedDate | date:'mediumDate'}}</td>
                                    <td><button class="btn btn-default btn-primary" ng-click="archiveClient(client)">Archive</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
