<div class="form-vertical wrapper" style="display: none" ng-show="isLoaded">
    <form ng-submit="submit()" ng-controller="HouseCtrl" id="houseForm" name="houseForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Marital House</h5>
                    </div>
                    <div class="widget-content">
                        <div class="form-group row">
                            <label class="form-question col-xs-12">Is there a marital house at issue in this case?</label>
                            <div class="col-lg-12">
                                <label class="radio-inline">Yes<input required ng-model="house.MaritalHouse" name="MaritalHouse" type="radio" value="1"></label>
                                <label class="radio-inline">No<input required ng-model="house.MaritalHouse" name="MaritalHouse" type="radio" value="2"></label>
                                <div ng-show="houseForm.MaritalHouse.$dirty && houseForm.MaritalHouse.$invalid || (showErrors && houseForm.MaritalHouse.$invalid)">
                                    <span class="form-error" ng-show="houseForm.MaritalHouse.$error.required">This field is required</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="house.MaritalHouse == 1">
                            <div class="form-group row">
                                <label class="form-question col-xs-12">House address</label>
                                <div class="col-lg-4">
                                    <input class="form-control" maxlength="100" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="house.Address" name="Address" placeholder="Address" type="text" value="">
                                </div>
                                <div ng-show="houseForm.Address.$dirty && houseForm.Address.$invalid || (showErrors && houseForm.Address.$invalid)">
                                    <span class="form-error" ng-show="houseForm.Address.$error.maxLength">This field cannot be longer than 100 characters.</span>
                                    <span class="form-error" ng-show="houseForm.Address.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">Unit Number</label>
                                <div class="col-lg-4">
                                    <input class="form-control" maxlength="100" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="house.SecondaryAddress" name="SecondaryAddress" placeholder="Secondary Address" type="text" value="">
                                </div>
                                <div ng-show="houseForm.SecondaryAddress.$dirty && houseForm.SecondaryAddress.$invalid || (showErrors && houseForm.SecondaryAddress.$invalid)">
                                    <span class="form-error" ng-show="houseForm.SecondaryAddress.$error.maxLength">This field cannot be longer than 100 characters.</span>
                                    <span class="form-error" ng-show="houseForm.SecondaryAddress.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">City, State</label>
                                <div class="col-lg-4">
                                    <input class="form-control" maxlength="100" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" typeahead="suggestion for suggestion in cities($viewValue) | limitTo:8" ng-model="house.CityState" name="CityState" placeholder="City State" type="text" value="">
                                </div>
                                <div ng-show="houseForm.CityState.$dirty && houseForm.CityState.$invalid || (showErrors && houseForm.CityState.$invalid)">
                                    <span class="form-error" ng-show="houseForm.CityState.$error.maxLength">This field cannot be longer than 100 characters.</span>
                                    <span class="form-error" ng-show="houseForm.CityState.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">Zip Code</label>
                                <div class="col-lg-4">
                                    <input class="form-control" ng-pattern="/^(\d{5}|\d{4})(?:[-\s]\d{4})?$/" ng-model="house.ZipCode" name="ZipCode" placeholder="Zip Code" type="text" value="">
                                </div>
                                <div ng-show="houseForm.ZipCode.$dirty && houseForm.ZipCode.$invalid || (showErrors && houseForm.ZipCode.$invalid)">
                                    <span class="form-error" ng-show="houseForm.ZipCode.$error.pattern">This field must be a valid zip code.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">Retail value of the house</label>
                                <div class="col-lg-4 input-group">
                                    <span class="input-group-addon add-on"><i class="icon-dollar" style="pointer-events: none;"></i></span>
                                    <input class="form-control" ng-pattern="/^[0-9]*$/" ng-model="house.RetailValue" name="RetailValue" placeholder="Value in Dollars" type="text" value="" maxlength="19" autocomplete="off">
                                </div>
                                <div ng-show="houseForm.RetailValue.$dirty && houseForm.RetailValue.$invalid || (showErrors && houseForm.RetailValue.$invalid)">
                                    <span class="form-error" ng-show="houseForm.RetailValue.$error.maxLength">This field cannot be longer than 19 characters.</span>
                                    <span class="form-error" ng-show="houseForm.RetailValue.$error.pattern">Just numbers here! No commas, letters or other special characters!</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">Amount of money still owed on the house</label>
                                <div class="col-lg-4 input-group">
                                    <span class="input-group-addon add-on"><i class="icon-dollar" style="pointer-events: none;"></i></span>
                                    <input class="form-control" ng-pattern="/^-?[0-9]*$/" ng-model="house.MoneyOwed" name="MoneyOwed" placeholder="Dollars owed" type="text" value="" maxlength="19" autocomplete="off">
                                </div>
                                <div ng-show="houseForm.MoneyOwed.$dirty && houseForm.MoneyOwed.$invalid || (showErrors && houseForm.MoneyOwed.$invalid)">
                                    <span class="form-error" ng-show="houseForm.MoneyOwed.$error.maxLength">This field cannot be longer than 19 characters.</span>
                                    <span class="form-error" ng-show="houseForm.MoneyOwed.$error.pattern">Just numbers here! No commas, letters or other special characters!</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">After subtracting estimated real estate commissions and other sale related expenses, the equity in the property is approximately:</label>
                                <div class="col-lg-4 input-group">
                                    <span class="input-group-addon add-on"><i class="icon-dollar" style="pointer-events: none;"></i></span>
                                    <input class="form-control" ng-pattern="/^-?[0-9]*$/" ng-model="house.Equity" name="Equity" placeholder="Equity in Dollars" type="text" value="" maxlength="19" autocomplete="off">
                                </div>
                                <div ng-show="houseForm.Equity.$dirty && houseForm.Equity.$invalid || (showErrors && houseForm.Equity.$invalid)">
                                    <span class="form-error" ng-show="houseForm.Equity.$error.maxLength">This field cannot be longer than 19 characters.</span>
                                    <span class="form-error" ng-show="houseForm.Equity.$error.pattern">Just numbers here! No commas, letters or other special characters!</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">The mortgage holder on the house</label>
                                <div class="col-lg-4">
                                    <input class="form-control" maxlength="100" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="house.MortgageOwner" name="MortgageOwner" placeholder="Mortgage holder" type="text" value="">
                                </div>
                                <div ng-show="houseForm.MortgageOwner.$dirty && houseForm.MortgageOwner.$invalid || (showErrors && houseForm.MortgageOwner.$invalid)">
                                    <span class="form-error" ng-show="houseForm.MortgageOwner.$error.maxLength">This field cannot be longer than 100 characters.</span>
                                    <span class="form-error" ng-show="houseForm.MortgageOwner.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-question col-xs-12">How will you divide the marital home?</label>
                                <div class="col-lg-4">
                                    <textarea class="form-control" cols="20" ng-pattern="/^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$/" ng-model="house.Divide" name="Divide" placeholder="Describe how assets and liabilities related to the marital home will be divided. Keep in mind how issues like the amount necessary to pay off the existing mortgage, current equity in the home, and the costs to maintain the home, or any need for the mortgage to be refinanced will be addressed." rows="2"></textarea>
                                </div>
                                <div ng-show="houseForm.Divide.$dirty && houseForm.Divide.$invalid || (showErrors && houseForm.Divide.$invalid)">
                                    <span class="form-error" ng-show="houseForm.Divide.$error.maxLength">This field cannot be longer than 100 characters.</span>
                                    <span class="form-error" ng-show="houseForm.Divide.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <button class="btn btn-default btn-primary btn-continue" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
