<div class="form-vertical wrapper">
    <form ng-submit="submit()" ng-controller="SocialSecurityCtrl" ng-model="socialSecurity.socialSecurityForm" name="socialSecurityForm" novalidate>
        <input type="hidden" name="Id" ng-model="socialSecurity.Id">
        <input type="hidden" name="UserId" ng-model="socialSecurity.UserId">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Social Security Payments</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group row-fluid">
                            <label class="hoverHelp span4 form-question" data-content="Old age, survivors and disability benefits for a child who is either unmarried and has not attained the age of 18, is still in secondary school and under 19 years of age, or is under a disability which began before he attained the age of 22 years of age. The child must also be a dependent of the insured individual." data-original-title="">
                                Do the children receive Title II Social Security benefits from your account?</label>
                            <label class="radio inline">
                                Yes
                                <input class="inline" required ng-model="socialSecurity.ReceiveSocial" name="ReceiveSocial" type="radio" value="1"></label>
                            <label class="radio inline">
                                No
                                <input class="inline" required ng-model="socialSecurity.ReceiveSocial" name="ReceiveSocial" type="radio" value="2"></label>
                            <div ng-show="socialSecurityForm.ReceiveSocial.$dirty && socialSecurityForm.ReceiveSocial.$invalid">
                                <span class="form-error" ng-show="socialSecurityForm.ReceiveSocial.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="control-group row-fluid" ng-show="socialSecurity.ReceiveSocial == 1">
                            <label class="span4 form-question">Amount per month</label>
                            <input required number ng-model="socialSecurity.Amount" name="Amount" placeholder="Monthly Amount" type="text" value="">
                            <div ng-show="socialSecurityForm.Amount.$dirty && socialSecurityForm.Amount.$invalid">
								<span class="form-error" ng-show="socialSecurityForm.Amount.$error.number">This field must be a number.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
