<div class="form-vertical wrapper">
    <form ng-submit="submit()" ng-controller="SpousalCtrl" ng-model="spousal.spousalForm" name="spousalForm" novalidate>
        <input type="hidden" name="Id" ng-model="spousal.Id">
        <input type="hidden" name="UserId" ng-model="spousal.UserId">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-signal"></i></span>
                        <h5>Spousal Support</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <label class="form-question">
                                What are the provisions for spousal support?</label>
                            <label class="radio">
                                There will be no spousal support in this case
                                <input required ng-model="spousal.Spousal" name="Spousal" type="radio" value="2"></label>
                            <label class="radio">
                                Provisions for spousal support will occur as follows
                                <input required ng-model="spousal.Spousal" name="Spousal" type="radio" value="1"></label>
                            <div ng-show="spousalForm.Spousal.$dirty && spousalForm.Spousal.$invalid">
                                <span class="form-error" ng-show="spousalForm.Spousal.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="control-group spousal-detail hide">
                            <textarea class="input-xxlarge" cols="20" ng-pattern="^(?!.*--)[A-Za-z0-9\.\?=\+\s.[\]@$'()!~:#/&amp;_\-,\%]*$" ng-model="spousal.SpousalDescription" name="SpousalDescription" placeholder="Details" rows="2"></textarea>
                            <div ng-show="spousalForm.SpousalDescription.$dirty && spousalForm.SpousalDescription.$invalid">
                                <span class="form-error" ng-show="spousalForm.SpousalDescription.$error.pattern">Only alpha-numeric characters and []@$'()!~:#&amp;_,/-?\% are allowed.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" value="Continue">Continue <i class="icon-arrow-right icon-white"></i></button>
    </form>
</div>
